{% extends 'bootstrap/base.html' %}

{% block title %} Add OTP Secret {% endblock %}

{% block styles %}
{{ super() }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/add.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/loader.css') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="center-content">
    
    <div class="form-container" style="background-color: {{ user_color }};">
        {% if current_user.show_content_titles %}
        <h1 class="form-title">Add OTP Secret</h1>
        {% endif %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group form-group-with-icon">
                {{ form.name.label }} 
                {{ form.name(class="form-control", placeholder="Enter a unique name", title="Enter a unique name for the OTP secret", autofocus=true) }}
                <span class="validation-icon" id="nameCheck"><i class="material-icons-outlined">check_small</i></span>
                {% for error in form.name.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group form-group-with-icon">
                {{ form.email.label }} 
                {{ form.email(class="form-control", placeholder="Enter an email address") }}
                <span class="validation-icon" id="emailCheck" style="display: none;"><i class="material-icons-outlined">check_small</i></span>
                {% for error in form.email.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>                    
            <div class="form-group form-group-with-icon">
                {{ form.secret.label }} 
                {{ form.secret(class="form-control", placeholder="Enter a Base32 secret (16 to 32 characters)", title="Enter a secure Base32 secret, between 16 to 32 characters", maxlength="32") }}
                <span class="validation-icon" id="secretCheck" style="display: none;"><i class="material-icons-outlined">check_small</i></span>
                {% for error in form.secret.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group"> 
                {{ form.otp_type.label(class="form-check-label") }} <span>  [Currently only TOTP is supported]</span>
                {{ form.otp_type(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.company.label }}
                <select class="form-control" name="{{ form.company.name }}" required>
                    <option value="" disabled selected>Select a Company</option>
                    {% for value, label in form.company.choices|sort(attribute='1') %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>                      
            <div class="form-group">
                {{ form.refresh_time.label }} <span>(Read-only)</span>
                {{ form.refresh_time(class="form-control") }}
                {{ form.refresh_time_hidden() }}
                {% for error in form.refresh_time.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>                    
            <div class="button-container" style="display: flex; justify-content: space-between; padding: 10px;">
                <button type="submit" name="action" value="add" class="btn btn-primary">Add</button>
                <button type="submit" name="action" value="add_view" class="btn btn-secondary">Add + View</button>
            </div>
        </form>
    </div>
</div>

<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="position: fixed; top: 1em; right: 1em; z-index: 1050;">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="display: none;">
        <div class="toast-header">
            <strong class="mr-auto">Form Validation Error</strong>
            <small>just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            There was an error in your submission. Please check the form fields for details.
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Form Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="errorModalText">

            </div>
        </div>
    </div>
</div>

<div class="overlay" style="display: none;">
    <div class="terminal-loader">
        <div class="terminal-header">
            <div class="terminal-title">Status</div>
            <div class="terminal-controls">
                <div class="control close"></div>
                <div class="control minimize"></div>
                <div class="control maximize"></div>
            </div>
        </div>
        <div class="text">Adding new OTP-Secret...</div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
    $("input[name='secret']").on('blur', function() {
        $(this).val($(this).val().toUpperCase());
    });

    function validateSecret(secret) {
        const isValidLength = secret.length >= 16 && secret.length <= 32;
        const isValidFormat = /^[A-Z2-7=]{16,32}$/.test(secret);
        return isValidLength && isValidFormat;
    }

    function validateEmail(email) {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[A-Za-z]{2,}$/;
        return email === "" || emailRegex.test(email);
    }

    function updateValidationStatus(isValid, elementID) {
        if (isValid) {
            $(`#${elementID}`).show();
            $(`#${elementID}`).prev('.form-control').removeClass('is-invalid');
        } else {
            $(`#${elementID}`).hide();
            $(`#${elementID}`).prev('.form-control').addClass('is-invalid');
        }
    }

    $("form").submit(function(e) {
        let valid = true;
        let errorMsgs = [];

        const name = $("input[name='name']").val();
        const email = $("input[name='email']").val();
        const secret = $("input[name='secret']").val().toUpperCase();
        const otpType = $("select[name='otp_type']").val();
        const refreshTime = $("input[name='refresh_time']").val();
        const selectedCompany = $("select[name='{{ form.company.name }}']").val();

        $("input[name='secret']").val(secret);

        if (!validateEmail(email)) {
            $("input[name='email']").addClass('is-invalid');
            valid = false;
        } else {
            $("input[name='email']").removeClass('is-invalid');
        }

        if (!selectedCompany) {
            errorMsgs.push("Please select a company.");
            valid = false;
        }

        if (name.length < 4) {
            $("input[name='name']").addClass('is-invalid');
            valid = false;
        } else {
            $("input[name='name']").removeClass('is-invalid');
        }

        if (!validateSecret(secret)) {
            $("input[name='secret']").addClass('is-invalid');
            valid = false;
        } else {
            $("input[name='secret']").removeClass('is-invalid');
        }

        if (!["totp", "hotp"].includes(otpType.toLowerCase())) {
            valid = false;
        }

        if (!Number.isInteger(parseInt(refreshTime)) || parseInt(refreshTime) <= 0) {
            valid = false;
        }

        if (!valid) {
            e.preventDefault();
            let errorMessageHtml = errorMsgs.join("<br/>");
            $('#errorModalText').html(errorMessageHtml);
            $('#errorModal').modal('show');
        } else {
            const action = $("button[type='submit'][clicked=true]").val();
            if (action === "add" || action === "add_view") {
                $(".overlay").addClass("visible");
                console.log('Form submitted successfully, marking new OTP:', name);
                markNewOTP(name); // Mark the new OTP as "New"
            }
        }
    });

    function markNewOTP(name) {
        const now = Date.now();
        localStorage.setItem(`otp_created_at_${name}`, now);
        console.log(`Marked new OTP: ${name}, Timestamp: ${now}`);
    }

    $("input[name='secret']").on('input', function() {
        this.value = this.value.toUpperCase();

        const isValidSecret = validateSecret($(this).val());
        updateValidationStatus(isValidSecret, 'secretCheck');
    });

    $("input[name='name']").on("input", function() {
        const nameValue = $(this).val();
        const isValidName = nameValue.length >= 4;
        updateValidationStatus(isValidName, 'nameCheck');

        if (nameValue.length > 0) {
            document.title = "Adding: " + nameValue;
        } else {
            document.title = "Add OTP Secret";
        }
    });

    $("input[name='email']").on("input", function() {
        const isValidEmail = validateEmail($(this).val());
        updateValidationStatus(isValidEmail, 'emailCheck'); 
    });

    $("input[name='email']").attr('maxlength', '256');

    $("button[type='submit']").click(function() {
        $("button[type='submit']").removeAttr('clicked');
        $(this).attr('clicked', 'true');
    });
});
</script>
{% endblock %}