{% extends 'bootstrap/base.html' %}

{% block title %} About OTP Manager {% endblock %}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href=".{{ url_for('static', filename='styles/about.css') }}">
    <link rel="icon" href=".{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-5 about-container fade-in">
    {% if current_user.show_content_titles %}
    <h1 class="text-center">OTP-Manager</h1>
    {% endif %}   
    <div class="row">
        <div class="col-md-6">
            <section class="stats-container">
                <h2 class="text-center">Stats</h2>
                <ul class="stats">
                    <li id="stored_otps" data-icon="vpn_key"><span class="label">Stored OTPs:</span><span class="value">37</span></li>
                    <li id="logins_today" data-icon="login"><span class="label">Logins Today:</span><span class="value">31</span></li>
                    <li id="times_refreshed" data-icon="refresh"><span class="label">Times Refreshed:</span><span class="value">3286</span></li>
                    <li id="uptime" data-icon="schedule"><span class="label">Server Uptime:</span><span class="value">0 Days 0h:17m:21s</span></li>
                    <li id="last_user_login_time" data-icon="access_time"><span class="label">Last User Login Time:</span><span class="value">Cant fetch the Login Data at the moment</span></li>
                    <li id="current_server_time" data-icon="update"><span class="label">Current Server Time:</span><span class="value">10/02/2024 16:55:34</span></li>
                    <li id="ram_usage" data-icon="memory"><span class="label">RAM Usage:</span><span class="value">{{ ram_usage }}</span></li>
                    <li id="cpu_usage" data-icon="speed"><span class="label">CPU Usage:</span> <span class="value">{{ cpu_usage }}</span></li>
                    <li id="disk_usage" data-icon="storage"><span class="label">Disk Usage:</span> <span class="value">{{ disk_usage }}</span></li>                    
                </ul>                
            </section>
        </div>        
            <div class="col-md-6">
                <section class="settings-container">
                    <h2 class="text-center">Recent Stats:</h2>
                    <ul class="older-stats">
                        <div class="col-md-12">
                            <canvas id="statsChart" width="400" height="200"></canvas>
                        </div>                        
                    </ul>                                      
                </section>
            
                <section class="license-container text-center mt-5">
                    <p>© 2024 OTP-Manager by Sebastian Junginger, licensed under</p>
                    <p><a class="custom-link" href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a></p>
                    <p>Source code is available on GitHub:</p>
                    <a class="custom-link" href="https://github.com/Migrim/OTP-Manager">https://github.com/Migrim/OTP-Manager</a>
                    <p>Version 203</p>
                </section>                               
            </div>
        </div>
    
        <footer class="footer text-center">
            <p>&copy; 2024 OTP Manager. This work is licensed under the Creative Commons Attribution-NonCommercial 4.0 International License.</p>
        </footer>
    </div>
    {% endblock %}

{% block scripts %}
{{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const Utils = {
            CHART_COLORS: {
                red: 'rgb(255, 82, 82)',
                blue: 'rgb(255, 82, 82)',
                backgroundRed: 'rgba(141, 65, 183, 0.2)',
                backgroundBlue: 'rgba(133, 31, 18, 0.2)'
            }
        };

        document.addEventListener('DOMContentLoaded', function() {
            loadOlderBackups();
            updateStats();
            setInterval(updateStats, 1000);
            renderStatsChart();
        });

        function renderStatsChart() {
            fetch('/get_older_statistics')
            .then(response => response.json())
            .then(data => {
                const ctx = document.getElementById('statsChart').getContext('2d');
                const gradientRed = ctx.createLinearGradient(0, 0, 0, 400);
                gradientRed.addColorStop(0, Utils.CHART_COLORS.red);
                gradientRed.addColorStop(1, Utils.CHART_COLORS.backgroundRed);

                const gradientBlue = ctx.createLinearGradient(0, 0, 0, 400);
                gradientBlue.addColorStop(0, Utils.CHART_COLORS.blue);
                gradientBlue.addColorStop(1, Utils.CHART_COLORS.backgroundBlue);

                const loginsData = data.map((stat, index) => ({x: index, y: stat.logins_today}));
                const timesRefreshedData = data.map((stat, index) => ({x: index, y: stat.times_refreshed}));

                const totalDuration = 2000; 
                const delayBetweenPoints = totalDuration / data.length;

                const config = {
                    type: 'line',
                    data: {
                        datasets: [{
                            label: 'Times Refreshed',
                            borderColor: Utils.CHART_COLORS.blue,
                            backgroundColor: gradientBlue,
                            borderWidth: 2,
                            pointRadius: 0,
                            pointBackgroundColor: Utils.CHART_COLORS.blue,
                            fill: true,
                            data: timesRefreshedData,
                            tension: 0.4
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        animation: {
                            duration: 2000,
                            easing: 'easeInOutBack',
                            delay: function(context) {
                                return context.type === 'data' && context.mode === 'default' ? context.dataIndex * delayBetweenPoints : 0;
                            }
                        },
                        interaction: {
                            intersect: false
                        },
                        plugins: {
                            legend: {
                                display: true,
                                labels: {
                                    color: 'rgb(255, 255, 255)',
                                    font: {
                                        size: 14
                                    }
                                }
                            },
                            tooltip: {
                                mode: 'index',
                                intersect: false
                            }
                        },
                        scales: {
                            x: {
                                type: 'linear',
                                display: true,
                                grid: {
                                    display: false
                                }
                            },
                            y: {
                                beginAtZero: true,
                                grid: {
                                    color: 'rgba(255, 255, 255, 0.2)',
                                    borderDash: [5, 5],
                                    drawBorder: true,
                                    drawOnChartArea: true
                                },
                                ticks: {
                                    color: 'rgba(255, 255, 255, 0.7)'
                                }
                            }
                        }
                    }
                };

                new Chart(ctx, config);
            })
            .catch(error => {
                console.error('Failed to fetch data: ', error);
            });
        }

        function createBackup() {
            fetch('/create_backup')
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Backup created successfully at " + data.message);
                } else {
                    alert("Failed to create backup: " + data.message);
                }
            });
        }

        function loadOlderBackups() {
            fetch('/list_backups')
            .then(response => response.json())
            .then(data => {
            const select = document.getElementById('olderBackups');
            data.backups.forEach(backup => {
                const option = document.createElement('option');
                option.value = backup;
                option.textContent = backup;
                select.appendChild(option);
            });
            });
        }

        function loadSelectedBackup() {
            console.log("loadSelectedBackup function reached");
            const selectedBackup = document.getElementById('olderBackups').value;
            console.log(`Selected Backup: ${selectedBackup}`);
            
            if (selectedBackup) {
                fetch(`/backups/${selectedBackup}`)
                .then(response => {
                    console.log("Received response for blob");
                    return response.blob();
                })
                .then(blob => {
                    console.log("Creating FormData");
                    const formData = new FormData();
                    formData.append('backup', blob, selectedBackup);
                    
                    return fetch('/load_backup', {
                        method: 'POST',
                        body: formData
                    });
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log("Backup loaded successfully.");
                    } else {
                        console.log("Failed to load backup.");
                    }
                })
                .catch(err => {
                    console.log(`Error occurred: ${err}`);
                });
            } else {
                console.log("No backup selected");
            }
        }

        loadOlderBackups();

        function updateStats() {
            fetch('/get_stats')
            .then(response => response.json())
            .then(data => {
                document.getElementById('stored_otps').textContent = 'Stored OTPs: ' + data.stored_otps;
                document.getElementById('logins_today').textContent = 'Logins Today: ' + data.logins_today;
                document.getElementById('times_refreshed').textContent = 'Times Refreshed: ' + data.times_refreshed;
                document.getElementById('uptime').textContent = 'Server Uptime: ' + data.uptime;
                document.getElementById('last_user_login_time').textContent = 'Last User Login Time: ' + data.last_user_login_time;
                document.getElementById('current_server_time').textContent = 'Current Server Time: ' + data.current_server_time;
                document.getElementById('ram_usage').textContent = 'Current RAM Usage: ' + data.ram_usage;
                document.getElementById('cpu_usage').textContent = 'Current CPU Usage: ' + data.cpu_usage + '%';
                document.getElementById('disk_usage').textContent = 'Current Disk Usage: ' + data.disk_usage + '%';
            });
        }

        updateStats();
        
        setInterval(updateStats, 1000);

        function toggleSessionTimeoutInput() {
            const isEnabled = document.getElementById('enableSessionTimeout').checked;
            const label = document.getElementById('sessionTimeoutDurationLabel');
            const input = document.getElementById('sessionTimeoutDuration');

            if (isEnabled) {
                label.style.display = "inline";
                input.style.display = "inline";
            } else {
                label.style.display = "none";
                input.style.display = "none";
            }
        }

        function updateSessionTimeout() {
            const timeout = document.getElementById('sessionTimeoutDuration').value;

            fetch('/update_session_timeout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ timeout: timeout }),
            }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log("Session timeout updated.");
                } else {
                    console.log("Failed to update session timeout.");
                }
            });
        }   
    </script>
{% endblock %}