{% extends 'bootstrap/base.html' %}

{% block title %} About OTP Manager {% endblock %}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a> 
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('add') }}">Add</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('view_logs') }}">Logs</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('admin.admin_settings') }}">Settings</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
    </div>   
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="navbar-nav ml-auto">
                <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
                    {{ messages[0] }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    
    <div id="logoutContainer">
        <div id="logoutBtn">
            <a class="navbar-brand" href="{{ url_for('logout') }}">
                Logout
                <i class="material-icons-outlined">logout</i>
            </a>
        </div>                    
    </div>            
</nav>
{% endblock %}

{% block content %}
<div class="container mt-5 about-container fade-in">
    <h1 class="text-center">OTP-Manager</h1>
    <div class="row">
        <div class="col-md-6">
            <section class="stats-container">
                <h2 class="text-center">Stats</h2>
                <ul class="stats">
                    <li id="stored_otps"></li>
                    <li id="logins_today"></li>
                    <li id="times_refreshed"></li>
                    <li id="uptime"></li>
                    <li id="last_user_login_time"></li>
                    <li id="current_server_time"></li>
                </ul>
            </section>
        </div>
        <div class="col-md-6">
            <section class="settings-container">
                <h2 class="text-center">Recent Stats:</h2>
                <ul class="older-stats">
                    {% for stat in older_stats %}
                    <li class="older-stat-item">Date: {{ stat[3] }}, Logins: {{ stat[1] }}, Times Refreshed: {{ stat[2] }}</li>
                    {% endfor %}
                </ul>                                      
            </section>

            {% if is_admin %}
            <section class="backup-container mt-5">
                <h2 class="text-center">Database Backup</h2>
                <button id="createBackup" onclick="createBackup()">Create Backup</button>
                <input type="file" id="loadBackup" style="display: none;" onchange="loadBackup(event)">
                <button onclick="document.getElementById('loadBackup').click()">Load Backup</button>
            </section>
            {% endif %}

            <section class="license-container text-center">
                <p>OTP Manager is licensed under the Creative Commons License by Sebastian Junginger © 2023.</p>
                <p>Source code is available on GitHub:</p>
                <a href="https://github.com/Migrim/OTP-Manager">https://github.com/Migrim/OTP-Manager</a>
            </section>
        </div>
    </div>
    <footer class="footer text-center">
        <p>&copy; 2023 OTP Manager. All rights reserved.</p>
    </footer>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script>
        function createBackup() {
            window.location.href = '/create_backup';
        }

        function loadBackup(event) {
            const file = event.target.files[0];
            if (file) {
                const formData = new FormData();
                formData.append('backup', file);

                fetch('/load_backup', {
                    method: 'POST',
                    body: formData
                }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log("Backup loaded successfully.");
                    } else {
                        console.log("Failed to load backup.");
                    }
                });
            }
        }


        function updateStats() {
            fetch('/get_stats')
            .then(response => response.json())
            .then(data => {
                document.getElementById('stored_otps').textContent = 'Stored OTPs: ' + data.stored_otps;
                document.getElementById('logins_today').textContent = 'Logins Today: ' + data.logins_today;
                document.getElementById('times_refreshed').textContent = 'Times Refreshed: ' + data.times_refreshed;
                document.getElementById('uptime').textContent = 'Server Uptime: ' + data.uptime;
                document.getElementById('last_user_login_time').textContent = 'Last User Login Time: ' + data.last_user_login_time;
                document.getElementById('current_server_time').textContent = 'Current Server Time: ' + data.current_server_time;
            });
        }

        updateStats();
        
        setInterval(updateStats, 1000);

        function toggleSessionTimeoutInput() {
            const isEnabled = document.getElementById('enableSessionTimeout').checked;
            const label = document.getElementById('sessionTimeoutDurationLabel');
            const input = document.getElementById('sessionTimeoutDuration');

            if (isEnabled) {
                label.style.display = "inline";
                input.style.display = "inline";
            } else {
                label.style.display = "none";
                input.style.display = "none";
            }
        }

        function updateSessionTimeout() {
            const timeout = document.getElementById('sessionTimeoutDuration').value;

            fetch('/update_session_timeout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ timeout: timeout }),
            }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log("Session timeout updated.");
                } else {
                    console.log("Failed to update session timeout.");
                }
            });
        }
    </script>
{% endblock %}