{% extends 'bootstrap/base.html' %}

{% block title %} About OTP Manager {% endblock %}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href=".{{ url_for('static', filename='styles/about.css') }}">
    <link rel="icon" href=".{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container mt-5 about-container fade-in">
    {% if current_user.show_content_titles %}
    <h1 class="text-center">OTP-Manager</h1>
    {% endif %}   
    <div class="row">
        <div class="col-md-6">
            <section class="stats-container">
                <h2 class="text-center">Stats</h2>
                <ul class="stats">
                    <li id="stored_otps" data-icon="vpn_key"><span class="label">Stored OTPs:</span><span class="value">37</span></li>
                    <li id="logins_today" data-icon="login"><span class="label">Logins Today:</span><span class="value">31</span></li>
                    <li id="times_refreshed" data-icon="refresh"><span class="label">Times Refreshed:</span><span class="value">3286</span></li>
                    <li id="uptime" data-icon="schedule"><span class="label">Server Uptime:</span><span class="value">0 Days 0h:17m:21s</span></li>
                    <li id="last_user_login_time" data-icon="access_time"><span class="label">Last User Login Time:</span><span class="value">Cant fetch the Login Data at the moment</span></li>
                    <li id="current_server_time" data-icon="update"><span class="label">Current Server Time:</span><span class="value">10/02/2024 16:55:34</span></li>
                    <li id="ram_usage" data-icon="memory"><span class="label">RAM Usage:</span><span class="value">{{ ram_usage }}</span></li>
                    <li id="cpu_usage" data-icon="speed"><span class="label">CPU Usage:</span> <span class="value">{{ cpu_usage }}</span></li>
                    <li id="disk_usage" data-icon="storage"><span class="label">Disk Usage:</span> <span class="value">{{ disk_usage }}</span></li>                    
                </ul>                
            </section>
        </div>        
            <div class="col-md-6">
                <section class="settings-container">
                    <h2 class="text-center">Recent Stats:</h2>
                    <ul class="older-stats">
                        {% for stat in older_stats %}
                        <li class="older-stat-item">Date: {{ stat[3] }}, Logins: {{ stat[1] }}, Times Refreshed: {{ stat[2] }}</li>
                        {% endfor %}
                    </ul>                                      
                </section>

            
                <section class="license-container text-center mt-5">
                    <p>OTP Manager is licensed under the Creative Commons License by Sebastian Junginger © 2023.</p>
                    <p>Source code is available on GitHub:</p>
                    <a href="https://github.com/Migrim/OTP-Manager">https://github.com/Migrim/OTP-Manager</a>
                </section>
            </div>
        </div>
    
        <footer class="footer text-center">
            <p>&copy; 2023 OTP Manager. All rights reserved.</p>
        </footer>
    </div>
    {% endblock %}

{% block scripts %}
{{ super() }}
    <script>
        function createBackup() {
            fetch('/create_backup')
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Backup created successfully at " + data.message);
                } else {
                    alert("Failed to create backup: " + data.message);
                }
            });
        }

        function loadOlderBackups() {
            fetch('/list_backups')
            .then(response => response.json())
            .then(data => {
            const select = document.getElementById('olderBackups');
            data.backups.forEach(backup => {
                const option = document.createElement('option');
                option.value = backup;
                option.textContent = backup;
                select.appendChild(option);
            });
            });
        }

        function loadSelectedBackup() {
            console.log("loadSelectedBackup function reached");
            const selectedBackup = document.getElementById('olderBackups').value;
            console.log(`Selected Backup: ${selectedBackup}`);
            
            if (selectedBackup) {
                fetch(`/backups/${selectedBackup}`)
                .then(response => {
                    console.log("Received response for blob");
                    return response.blob();
                })
                .then(blob => {
                    console.log("Creating FormData");
                    const formData = new FormData();
                    formData.append('backup', blob, selectedBackup);
                    
                    return fetch('/load_backup', {
                        method: 'POST',
                        body: formData
                    });
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log("Backup loaded successfully.");
                    } else {
                        console.log("Failed to load backup.");
                    }
                })
                .catch(err => {
                    console.log(`Error occurred: ${err}`);
                });
            } else {
                console.log("No backup selected");
            }
        }

        loadOlderBackups();

        function updateStats() {
            fetch('/get_stats')
            .then(response => response.json())
            .then(data => {
                document.getElementById('stored_otps').textContent = 'Stored OTPs: ' + data.stored_otps;
                document.getElementById('logins_today').textContent = 'Logins Today: ' + data.logins_today;
                document.getElementById('times_refreshed').textContent = 'Times Refreshed: ' + data.times_refreshed;
                document.getElementById('uptime').textContent = 'Server Uptime: ' + data.uptime;
                document.getElementById('last_user_login_time').textContent = 'Last User Login Time: ' + data.last_user_login_time;
                document.getElementById('current_server_time').textContent = 'Current Server Time: ' + data.current_server_time;
                document.getElementById('ram_usage').textContent = 'Current RAM Usage: ' + data.ram_usage;
                document.getElementById('cpu_usage').textContent = 'Current CPU Usage: ' + data.cpu_usage + '%';
                document.getElementById('disk_usage').textContent = 'Current Disk Usage: ' + data.disk_usage + '%';
            });
        }

        updateStats();
        
        setInterval(updateStats, 1000);

        function toggleSessionTimeoutInput() {
            const isEnabled = document.getElementById('enableSessionTimeout').checked;
            const label = document.getElementById('sessionTimeoutDurationLabel');
            const input = document.getElementById('sessionTimeoutDuration');

            if (isEnabled) {
                label.style.display = "inline";
                input.style.display = "inline";
            } else {
                label.style.display = "none";
                input.style.display = "none";
            }
        }

        function updateSessionTimeout() {
            const timeout = document.getElementById('sessionTimeoutDuration').value;

            fetch('/update_session_timeout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ timeout: timeout }),
            }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log("Session timeout updated.");
                } else {
                    console.log("Failed to update session timeout.");
                }
            });
        }   
    </script>
{% endblock %}