{% extends 'bootstrap/base.html' %}

{% block title %} Add OTP Secret {% endblock %}

    {% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/add.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a> 
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('add') }}">Add</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('view_logs') }}">Logs</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('admin.admin_settings') }}">Management</a>
    </div>    
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('settings') }}">
            <i class="material-icons-outlined">settings</i> 
        </a>
    </div>   
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% endif %}
    {% endwith %}
    
    <div id="logoutContainer">
        <div id="logoutBtn">
            <a class="navbar-brand" href="{{ url_for('logout') }}">
                Logout
                <i class="material-icons-outlined">logout</i>
            </a>
        </div>                    
    </div>            
</nav>
{% endblock %}

{% block content %}
<div class="center-content">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger flash-message" style="position: absolute; top: 70px; max-width: 500px; width: 100%; left: 50%; transform: translateX(-50%); border-radius: 15px; padding: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    
    <div class="form-container">
        {% if current_user.show_content_titles %}
        <h1 class="form-title">Add OTP Secret</h1>
        {% endif %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group form-group-with-icon">
                {{ form.name.label }} 
                {{ form.name(class="form-control", placeholder="Enter a unique name", title="Enter a unique name for the OTP secret", autofocus=true) }}
                <span class="validation-icon" id="nameCheck"><i class="material-icons-outlined">check_small</i></span>
                {% for error in form.name.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group form-group-with-icon">
                {{ form.secret.label }} 
                {{ form.secret(class="form-control", placeholder="Enter a unique secret", title="Enter a secure secret, at least 16 characters") }}
                <span class="validation-icon" id="secretCheck"><i class="material-icons-outlined">check_small</i></span>
            </div>
            <div class="form-group"> 
                {{ form.otp_type.label(class="form-check-label") }} <span>  (Only TOTP is supported)</span>
                {{ form.otp_type(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.company.label }}
                <select class="form-control" name="{{ form.company.name }}">
                    {% for value, label in form.company.choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                {{ form.refresh_time.label }} <span>(Read-only)</span>
                {{ form.refresh_time(class="form-control", value="30", readonly="readonly") }}
                {% for error in form.refresh_time.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form.submit(value="Add OTP", class="btn btn-primary btn-block form-submit") }}
        </form>
    </div>
</div>

<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="position: fixed; top: 1em; right: 1em; z-index: 1050;">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="display: none;">
        <div class="toast-header">
            <strong class="mr-auto">Form Validation Error</strong>
            <small>just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            There was an error in your submission. Please check the form fields for details.
        </div>
    </div>
</div>
{% endblock %} 

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function() {
        $("input[name='secret']").on('blur', function() {
            $(this).val($(this).val().toUpperCase());
        });

        $("form").submit(function(e) {
            let valid = true;
            let errorMsgs = [];

            const name = $("input[name='name']").val();
            const secret = $("input[name='secret']").val().toUpperCase();
            const otpType = $("select[name='otp_type']").val();
            const refreshTime = $("input[name='refresh_time']").val();

            $("input[name='secret']").val(secret);

            if (!validateName(name)) {
                valid = false;
            }

            if (!validateSecret(secret)) {
                valid = false;
            }

            if (!/^[A-Z2-7=]{16,}$/.test(secret)) {
                errorMsgs.push("Secret must be at least 16 characters long and in all uppercase letters.");
                valid = false;
            }

            if (!["totp", "hotp"].includes(otpType.toLowerCase())) {
                errorMsgs.push("OTP type is invalid.");
                valid = false;
            }

            if (!Number.isInteger(parseInt(refreshTime)) || parseInt(refreshTime) <= 0) {
                errorMsgs.push("Refresh time must be a positive number");
                valid = false;
            }

            const suspiciousPattern = /(--|;|--|;|\/\*|\*\/|char|nchar|varchar|nvarchar|alter|begin|cast|create|cursor|declare|delete|drop|end|exec|execute|fetch|insert|kill|open|select|sys|sysobjects|syscolumns|table|update)/i;
            if (suspiciousPattern.test(name) || suspiciousPattern.test(secret)) {
                errorMsgs.push("Suspicious patterns detected in input fields");
                valid = false;
            }

            if (!valid) {
                e.preventDefault();
                alert(errorMsgs.join("\n"));
                $('.toast').toast({ delay: 5000 });
                $('.toast').toast('show');
            }
        });


        function validateName(name) {
            var validNamePattern = /^[a-zA-Z0-9@. ]+$/; 
            return name && name.length >= 4 && validNamePattern.test(name);
        }

        function validateSecret(secret) {
            return secret && secret.length >= 16;
        }

        function updateValidationStatus(isValid, elementID) {
            if (isValid) {
                $(`#${elementID}`).html('<i class="material-icons-outlined" style="color:green;">check_small</i>');
            } else {
                $(`#${elementID}`).html('');
            }
        }

        $("input[name='name']").on("input", function() {
            if ($(this).val().length >= 5) {
                $("#nameCheck").show();
            } else {
                $("#nameCheck").hide();
            }
        });

        $("input[name='secret']").on('input', function() {
            this.value = this.value.toUpperCase();
            if ($(this).val().length == 16) {
                $("#secretCheck").show();
            } else {
                $("#secretCheck").hide();
            }
        });
    });
</script>
{% endblock %}