{% extends 'bootstrap/base.html' %}

{% block title %} Add OTP Secret {% endblock %}

    {% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/add.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a> 
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('add') }}">Add</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('view_logs') }}">Logs</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('admin.admin_settings') }}">Settings</a>
    </div>    
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('settings') }}">
            <i class="material-icons-outlined">settings</i> 
        </a>
    </div>   
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="navbar-nav ml-auto">
                <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
                    {{ messages[0] }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    
    <div id="logoutContainer">
        <div id="logoutBtn">
            <a class="navbar-brand" href="{{ url_for('logout') }}">
                Logout
                <i class="material-icons-outlined">logout</i>
            </a>
        </div>                    
    </div>            
</nav>
{% endblock %}

{% block content %}
<div class="center-content">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger flash-message" style="position: absolute; top: 70px; max-width: 500px; width: 100%; left: 50%; transform: translateX(-50%); border-radius: 15px; padding: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    
    <div class="form-container">
        <h1 class="form-title">Add OTP Secret</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }} 
                {{ form.name(class="form-control", title="Enter a unique name for the OTP secret", autofocus=true) }}
                {% for error in form.name.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.secret.label }} 
                {{ form.secret(class="form-control", title="Enter a secure secret, at least 16 characters") }}
            </div>
            <div class="form-group"> 
                {{ form.otp_type.label(class="form-check-label") }} <span>  (Only TOTP is supported)</span>
                {{ form.otp_type(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.company.label }}
                <select class="form-control" name="{{ form.company.name }}">
                    {% for value, label in form.company.choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                {{ form.refresh_time.label }} <span>(Read-only)</span>
                {{ form.refresh_time(class="form-control", value="30", readonly="readonly") }}
                {% for error in form.refresh_time.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary btn-block form-submit") }}
        </form>
    </div>
</div>

<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="position: fixed; top: 1em; right: 1em; z-index: 1050;">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="display: none;">
        <div class="toast-header">
            <strong class="mr-auto">Form Validation Error</strong>
            <small>just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            There was an error in your submission. Please check the form fields for details.
        </div>
    </div>
</div>
{% endblock %} 

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function() {
        if ($('.text-danger').length > 0) {
            $('.toast').toast({ delay: 5000 });
            $('.toast').toast('show');
        }

        if ($('.flash-message').length > 0) {
            setTimeout(function() {
                $('.flash-message').fadeOut('slow');
            }, 5000);
        }
    });
</script>
{% endblock %}