{% extends 'bootstrap/base.html' %}
{% block title %}Administrative Settings{% endblock %}

{% block styles %}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href=".{{ url_for('static', filename='styles/admin_settings.css') }}">
<link rel="icon" href=".{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="center-content settings-wrapper">
    <div class="management-card" data-url="{{ url_for('admin.company_management') }}">
        <h3 class="card-title">Company Management</h3>
        <p class="card-text">Manage company profiles, view company data, and perform administrative tasks related to companies.</p>
    </div>
    <div class="management-card {{ 'disabled' if not is_admin }}" data-url="{{ url_for('server_settings') }}">
        <h3 class="card-title">Server Management</h3>
        <p class="card-text">Under Construction.</p>
    </div>    
    <div class="management-card {{ 'disabled' if not is_admin }}" data-url="{{ url_for('admin.user_management') }}">
        <h3 class="card-title">User Management</h3>
        <p class="card-text">Oversee user accounts, adjust permissions, and handle user-related settings and issues.</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var cards = document.querySelectorAll('.management-card:not(.disabled)');
        cards.forEach(function(card) {
            card.addEventListener('click', function() {
                window.location.href = card.getAttribute('data-url');
            });
        });
    });
</script>
{% endblock %}