{% extends 'bootstrap/base.html' %}
{% block title %} Management Settings {% endblock %}
{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <style>
        body {
            background-color: #222;
            color: #fff;
            font-family: 'Roboto', sans-serif;
        }
        .navbar {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        }
        .navbar-dark .navbar-brand {
            color: #f1f1f1;
            font-size: 1.5rem;
            margin-right: 20px;
            transition: color 0.3s;
        }
        .navbar-dark .navbar-brand:hover {
            color: #CD5C5C;
        }
        .center-content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            min-height: 20vh; 
            padding-top: 10px;
        }

        .form-container {
            width: calc(40% - 40px); 
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
            background: #333;
            margin: 20px;
        }

        .form-title {
            text-align: center;
            margin-bottom: 20px;
            color: #fff;
            font-size: 24px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-label {
            color: #fff;
        }
        .form-control {
            border-radius: 5px;
            background-color: #444;
            color: #fff;
        }
        .form-submit {
            margin-top: 20px;
        }

        .list-group-item {
            background-color: #444;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }
        .btn-danger {
            margin-left: auto;
        }
        .btn-warning {
            margin-left: 10px;
        }

        .company-list-container {
            max-height: 375px;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #888 #333;
            padding-right: 16px; 
        }

        .company-list-container::-webkit-scrollbar {
            width: 8px;
        }
        .company-list-container::-webkit-scrollbar-track {
            background: #333;
        }
        .company-list-container::-webkit-scrollbar-thumb {
            background-color: #888;
        }

        .scrollable-container {
            max-height: 292px;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #888 #333;
            padding-right: 16px;
        }

        .scrollable-container::-webkit-scrollbar {
            width: 8px;
        }
        .scrollable-container::-webkit-scrollbar-track {
            background: #333;
        }
        .scrollable-container::-webkit-scrollbar-thumb {
            background-color: #888;
        }

        .toast {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 1100;
        }
        .animated-fade-in {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }

        .form-container {
            animation: fadeIn 1s ease-in-out;
        }

        .form-control:focus {
            border-color: #CD5C5C; 
            box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
        }

        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        #logoutContainer {
            display: flex;
            align-items: center;
            justify-content: flex-end; 
        }

        #logoutBtn {
            position: absolute;
            right: -1px; 
            top: 0.1px;
            cursor: pointer;
        }

        #logoutBtn a {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center; 
            padding: 4px 12px;
            font-size: 1.4rem; 
            background-color: #CD5C5C;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            width: 100px; 
            height: 40px; 
        }

        #logoutBtn a:hover {
            background-color: #B94A4A;
        }

        #logoutBtn a i.material-icons-outlined {
            font-size: 18px; 
            margin-left: 8px; 
        }

        .btn-danger i.material-icons-outlined {
            font-size: 20px;
            vertical-align: middle;
        }

        .btn-warning i.material-icons-outlined {
            font-size: 20px;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a> 
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('add') }}">Add</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('view_logs') }}">Logs</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('admin.admin_settings') }}">Settings</a>
    </div>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="navbar-nav ml-auto">
                <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
                    {{ messages[0] }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    
    <div id="logoutContainer">
        <div id="logoutBtn">
            <a class="navbar-brand" href="{{ url_for('logout') }}">
                Logout
                <i class="material-icons-outlined">logout</i>
            </a>
        </div>                    
    </div>            
</nav>
{% endblock %}

{% block content %}
<div class="center-content">

    {% if is_admin %}
    <div class="form-container">
        <h1 class="form-title">User Management</h1>
        <form method="post">
            {{ user_form.hidden_tag() }}
            <div class="form-group">
                <label class="form-label">{{ user_form.username.label }}</label>
                {{ user_form.username(class="form-control") }}
            </div>
            <div class="form-group">
                <label class="form-label">{{ user_form.password.label }}</label>
                {{ user_form.password(class="form-control") }}
            </div>
            <div class="form-submit">
                {{ user_form.submit(class="btn btn-primary btn-block form-submit", value="Add User") }}
            </div>
        </form>
        <h2 class="form-title">Existing Users</h2>
        <div class="scrollable-container">
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item">
                        {{ user[1] }}
                        <div>
                            <form style="display:inline;" action="{{ url_for('admin.delete_user', user_id=user[0]) }}" method="POST">
                                <button type="submit" class="btn btn-danger">
                                    <i class="material-icons-outlined">delete_outline</i>
                                </button>                               
                            </form>
                            <a href="{{ url_for('reset_password', user_id=user[0]) }}" class="btn btn-warning">
                                <i class="material-icons-outlined">lock_reset</i>
                            </a>                              
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="form-container">
        <h1 class="form-title">Company Management</h1>
        <form method="post">
            {{ company_form.hidden_tag() }}
            <div class="form-group">
                <label class="form-label">{{ company_form.name.label }}</label>
                {{ company_form.name(class="form-control") }}
            </div>
            <div class="form-submit">
                {{ company_form.submit_company(class="btn btn-primary btn-block form-submit", value="Add Company") }}
            </div>
        </form>
        <h2 class="form-title">Existing Companies</h2>
        <div class="company-list-container">
            <ul class="list-group">
                {% for company in companies %}
                    <li class="list-group-item">{{ company.name }}
                        <form style="display:inline;" action="{{ url_for('admin.delete_company', company_id=company.company_id) }}" method="POST">
                            {{ company_form.hidden_tag() }}
                            <button type="submit" class="btn btn-danger">
                                <i class="material-icons-outlined">delete_outline</i>
                            </button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}