<!DOCTYPE html>
<html>
<head>
    {% extends 'bootstrap/base.html' %}
    {% block title %} OTP List {% endblock %}
        {% block styles %}
        {{ super() }}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    {% endblock %}

</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">OTP List</a>
        <div class="navbar-nav mr-auto">
            <a class="navbar-brand" href="{{ url_for('add') }}">Add</a>
        </div>
        <div class="navbar-nav mr-auto">
            <a class="navbar-brand" href="{{ url_for('view_logs') }}">Logs</a>
        </div>
        <div class="navbar-nav mr-auto">
            <a class="navbar-brand" href="{{ url_for('admin.admin_settings') }}">Settings</a>
        </div>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="navbar-nav ml-auto">
                    <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
                        {{ messages[0] }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        
        <div id="logoutContainer">
            <div id="logoutBtn">
                <a class="navbar-brand" href="{{ url_for('logout') }}">
                    Logout
                    <i class="material-icons-outlined">logout</i>
                </a>
            </div>
        </div>        
    </nav>
    {% endblock %}
        
        {% block content %}
            <div class="container">
                <h1 class="text-center text-white">One Time Passwords</h1>

                <form method="get" action="/search_otp" class="search-bar">
                    <input type="text" id="searchInput" name="name" placeholder="Search for OTPs" />
                </form>
                
                <div class="row">
                    {% for otp in otp_codes %}
                    <div class="col-md-4">
                        <div class="alert alert-success mt-3">
                            Firma: {{ otp.company }} <br>
                            Name: {{ otp.name }} <br>
                            <p>Secret: <span class="spoiler">{{otp.secret}}</span></p>
                            OTP type: {{ otp.otp_type }} <br>
                            OTP code: <span class="otp-code" id="otp_code_{{ otp.name }}" onclick="copyToClipboard(this)">{{ otp.otp_code }}</span>
                            <div class="progress mt-2">
                                <div class="progress-bar" role="progressbar" style="width: 100%;" id="progressBar{{ otp.name }}" data-refresh-time="{{ otp.refresh_time }}">30s</div>
                            </div>
                            <div class="btn-group" role="group">
                                <form action="{{ url_for('delete', name=otp.name) }}" method="post" style="display: inline-block;">
                                    <button type="button" style="margin-right:5px" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal">
                                        <i class="material-icons-outlined icon-small">delete</i>
                                    </button>
                                </form>
                                <form action="{{ url_for('edit', name=otp.name) }}" method="get" style="display: inline-block;">
                                    <button style="margin-right:5px" class="btn btn-primary">
                                        <i class="material-icons-outlined icon-small">edit</i>
                                    </button>
                                    <button type="button" style="margin-right: 5px" class="btn btn-light" onclick="copyToClipboard(document.querySelector('#otp_code_{{ otp.name }}'))">
                                        <i class="material-icons-outlined icon-small">content_copy</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                
                <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <p class="my-4 text-danger">Are you sure you want to delete this item? This action cannot be undone.</p>
                                <div class="text-center">
                                    <i class="material-icons-outlined" style="font-size: 60px; color: #FF0000; margin-bottom: 20px;">warning</i>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button id="deleteConfirmationButton" type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>                
                
                <div id="toast" class="toast">Copied to clipboard</div>

                <script>
                    let countdownIntervals = [];

                function updateOtpCodes(otpCodes) {
                    otpCodes.forEach(otp => {
                        let otpCodeElement = document.getElementById(`otp_code_${otp.name}`);
                        if (otpCodeElement) {
                            otpCodeElement.textContent = otp.otp_code;
                            let progressBar = document.getElementById(`progressBar${otp.name}`);
                            if (progressBar) {
                                progressBar.style.width = '100%';
                            let duration = parseInt(progressBar.getAttribute('data-refresh-time'));
                            startCountdown(progressBar, duration);
                            }
                        }
                    });
                }

                function manuallyRefreshOtps() {
                    fetch('/refresh_codes_v2')
                        .then(response => response.json())
                        .then(data => updateOtpCodes(data.otp_codes))
                        .catch(error => console.error('Fetch error:', error));
                }

                function startAutoRefresh() {
                    manuallyRefreshOtps();

                    let currentTime = new Date();
                    let millisTillNextInterval = 30000 - (currentTime.getSeconds() * 1000 + currentTime.getMilliseconds()) % 30000;

                    setTimeout(function() {

                        manuallyRefreshOtps();
                        setInterval(manuallyRefreshOtps, 30000);
                    }, millisTillNextInterval);
                }

                function startCountdown(element, duration) {
                    clearInterval(countdownIntervals[element.id]);
                    if (countdownIntervals[element.id]) {
                        clearInterval(countdownIntervals[element.id]);
                    }
                    countdownIntervals[element.id] = setInterval(function() {
                        let current_time = new Date().getSeconds();
                        let remaining = duration - (current_time % duration);
                        
                        if (remaining === 1) {
                            element.textContent = "fetching...";
                        } else {
                            element.textContent = remaining + "s";
                        }

                        element.style.width = (remaining / duration * 100) + "%";

                        if (remaining <= 1) {
                            clearInterval(countdownIntervals[element.id]);
                            manuallyRefreshOtps();
                        }
                    }, 1000);
                }

                window.onload = function() {
                    let spoilerElements = document.getElementsByClassName('spoiler');
                    for (let i = 0; i < spoilerElements.length; i++) {
                        let originalText = spoilerElements[i].innerText;
                        spoilerElements[i].setAttribute('data-original', originalText);
                        spoilerElements[i].innerText = '●'.repeat(originalText.length);
                        spoilerElements[i].onmouseover = function() {
                            this.innerText = this.getAttribute('data-original');
                        }
                        spoilerElements[i].onmouseout = function() {
                            this.innerText = '●'.repeat(this.getAttribute('data-original').length);
                        }
                    }

                    let progressBars = document.getElementsByClassName('progress-bar');
                    for (let i = 0; i < progressBars.length; i++) {
                        let duration = parseInt(progressBars[i].getAttribute('data-refresh-time')); 
                        startCountdown(progressBars[i], duration);
                    }

                    startAutoRefresh();
                };

                document.getElementById('searchInput').addEventListener('input', function() {
                        var filter = this.value.toUpperCase();
                        var otpDivs = document.getElementsByClassName('col-md-4');
                        for (var i = 0; i < otpDivs.length; i++) {
                            var div = otpDivs[i];
                            var name = div.querySelector('.alert').textContent;
                            if (name.toUpperCase().indexOf(filter) > -1) {
                                div.style.display = '';
                            } else {
                                div.style.display = 'none';
                            }
                        }
                    });

                    function copyToClipboard(element) {
                        let text = element.textContent;
                        let input = document.createElement('input');
                        input.setAttribute('value', text);
                        document.body.appendChild(input);
                        input.select();
                        document.execCommand('copy');
                        document.body.removeChild(input);
                        
                        showToast();
                    }

                    function showToast() {
                        let toast = document.getElementById('toast');
                        toast.style.display = 'block';
                        setTimeout(() => {
                            toast.style.display = 'none';
                        }, 5000);
                    }

                    document.addEventListener('DOMContentLoaded', (event) => {
                        document.querySelectorAll('.btn-danger').forEach((button) => {
                        button.addEventListener('click', () => {
                            document.getElementById('deleteConfirmationButton').onclick = () => {
                            button.closest('form').submit();
                            };
                        });
                        });
                    });
                </script>
        {% endblock %}
    </body>
</html>
