<!DOCTYPE html>
<html>
<head>
    {% extends 'bootstrap/base.html' %}
    {% block title %}OTP-List | {{ total_otp_count }} Secrets stored{% endblock %}
        {% block styles %}
        {{ super() }}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    {% endblock %}

</head>
<body>
    {% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        {% if current_user.show_content_titles %}
        <h1 class="text-center text-white">One Time Passwords</h1>
        <h5 class="text-center text-white">Total Secrets: {{ total_otp_count }}</h5>
        {% endif %}        
    
        <form method="get" action="{{ url_for('search_blueprint.search_otp') }}" class="search-bar">
            <input type="hidden" name="page" value="{{ page|default(1) }}" />
            <input type="text" id="searchInput" name="name" placeholder="" class="search-input" />
            <select name="company" id="companyDropdown" class="form-select custom-dropdown" title="Filter by Company" onchange="this.form.submit()">
                <option value="All Companies" {% if request.args.get('company') == "All Companies" %}selected{% endif %}>All Companies</option>
                {% for company in companies %}
                    <option value="{{ company.name }}" {% if request.args.get('company') == company.name %}selected{% endif %}>{{ company.name }}</option>
                {% endfor %}
            </select>            
        </form>

        <div id="noSecretsFound" class="no-secrets text-center" style="display: none;">No secrets found :3</div>

        <div class="row">
            {% for company, otp_list in grouped_otp_codes.items() %}
                <div class="col-md-12 mt-4">
                    <h3>{{ company }}</h3>
                </div>
                {% for otp in otp_list %}
                    <div class="col-md-4">
                        <div class="alert mt-3 position-relative" style="background-color: {{ alert_color | default('#ff0000', true) }}; color: {{ text_color | default('#000000', true) }};">
                            Firma: {{ otp.company }} <br>
                            Name: <span style="text-decoration: underline;">{{ otp.name }}</span> <br>
                            <p>Secret: <span class="spoiler">{{otp.secret}}</span></p>
                            {% if current_user.show_otp_type %}
                            OTP type: {{ otp.otp_type }} <br>
                            {% endif %}
                            OTP code: <span class="otp-code" id="otp_code_{{ otp.name }}" onclick="copyToClipboard(this)">{{ otp.otp_code }}</span>
                            {% if current_user.show_timer %}
                                <div id="timer{{ otp.name }}" data-refresh-time="{{ otp.refresh_time }}">30s</div>
                            {% else %}
                                <div class="progress mt-2">
                                    <div class="progress-bar" role="progressbar" style="width: 100%;" id="progressBar{{ otp.name }}" data-refresh-time="{{ otp.refresh_time }}">30s</div>
                                </div>
                            {% endif %}
                            <div class="btn-group" role="group">
                                {% if current_user.is_admin %}
                                <form id="deleteForm_{{ otp.name }}" action="{{ url_for('delete_secret', name=otp.name) }}" method="post" style="display: inline-block;">
                                    <button type="button" style="margin-right:5px" class="btn btn-danger delete-btn" title="Delete this Secret" data-toggle="modal" data-target="#deleteConfirmationModal" data-otp-name="{{ otp.name }}">
                                        <i class="icon-center material-icons-outlined icon-small">delete</i>
                                    </button>
                                    <input type="hidden" name="otpName" value="{{ otp.name }}" />
                                </form>
                                {% endif %}
                                <form action="{{ url_for('edit', name=otp.name) }}" method="get" style="display: inline-block;">
                                    <button style="margin-right:5px" class="btn btn-primary" title="Edit OTP">
                                        <i class="icon-center material-icons-outlined icon-small">edit</i>
                                    </button>
                                    <button type="button" style="margin-right: 5px" class="btn btn-light" title="Copy OTP to Clipboard" onclick="copyToClipboard(document.querySelector('#otp_code_{{ otp.name }}'))">
                                        <i class="icon-center material-icons-outlined icon-small">content_copy</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %} 
            {% endfor %} 
        </div>
                
                <nav aria-label="Page navigation">
                    {% if enable_pagination %}
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if page is not defined or page <= 1 %}disabled{% endif %}">
                            <a class="page-link" href="{{ url_for('home', page=page-1) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for i in range(1, total_pages + 1) %}
                            <li class="page-item {% if i == page %}active custom-active{% endif %}">
                                <a class="page-link" href="{{ url_for('home', page=i, name=request.args.get('name'), company=request.args.get('company')) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
                            <a class="page-link" href="{{ url_for('home', page=page+1) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </nav>

                <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="material-icons-outlined">report</i>
                                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                            </div>
                            <div class="modal-body text-center">
                                <p class="my-4 text-danger">Are you sure you want to delete this item? This action cannot be undone.</p>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button id="deleteConfirmationButton" type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>                
                
                <div id="toast" class="toast">Copied to clipboard</div>
                <div class="copyright">Indev Build - January 24 - Not for Production Use
                </div>

                <script>
                    const countdownIntervals = new Map();

                async function updateOtpCodes(otpCodes) {
                    otpCodes.forEach(otp => {
                        let otpCodeElement = document.getElementById(`otp_code_${otp.name}`);
                        let progressBar = document.getElementById(`progressBar${otp.name}`);

                        if (otpCodeElement) {
                            otpCodeElement.textContent = otp.otp_code;
                        }

                        if (progressBar) {
                            progressBar.style.width = '100%';
                            let duration = parseInt(progressBar.getAttribute('data-refresh-time'));
                            startCountdown(progressBar, duration);
                        }
                    });
                }

                async function manuallyRefreshOtps() {
                    try {
                        const response = await fetch('/refresh_codes_v2');
                        const data = await response.json();
                        updateOtpCodes(data.otp_codes);
                    } catch (error) {
                        console.error('Fetch error:', error);
                    }
                }

                function startAutoRefresh() {
                    manuallyRefreshOtps();

                    let currentTime = new Date();
                    let millisTillNextInterval = 30000 - (currentTime.getSeconds() * 1000 + currentTime.getMilliseconds()) % 30000;

                    setTimeout(() => {
                        manuallyRefreshOtps();
                        const intervalId = setInterval(manuallyRefreshOtps, 30000);
                        countdownIntervals.set('autoRefreshInterval', intervalId);
                    }, millisTillNextInterval);
                }

                function startCountdown(element, duration) {
                    element.textContent = "calculating expiry..."; 

                    if (countdownIntervals.has(element.id)) {
                        clearInterval(countdownIntervals.get(element.id));
                    }

                    const intervalId = setInterval(() => {
                        let current_time = new Date().getSeconds();
                        let remaining = duration - (current_time % duration);

                        if (remaining === 0) {
                            element.textContent = "expiering...";
                        } else if (remaining === 1) {
                            let otpName = element.id.replace('progressBar', '');
                            let otpCodeElement = document.getElementById(`otp_code_${otpName}`);
                            if (otpCodeElement) {
                                otpCodeElement.classList.add('flash');
                                setTimeout(() => otpCodeElement.classList.remove('flash'), 3000);
                            }
                        } else {
                            element.textContent = remaining + "s";
                        }

                        element.style.width = `${(remaining / duration * 100)}%`;

                        if (remaining <= 1) {
                            clearInterval(countdownIntervals.get(element.id));
                            manuallyRefreshOtps();
                        }
                    }, 1000);

                    countdownIntervals.set(element.id, intervalId);
                }

                function debounce(func, wait, immediate) {
                    let timeout;
                    return function() {
                        const context = this, args = arguments;
                        const later = function() {
                            timeout = null;
                            if (!immediate) func.apply(context, args);
                        };
                        const callNow = immediate && !timeout;
                        clearTimeout(timeout);
                        timeout = setTimeout(later, wait);
                        if (callNow) func.apply(context, args);
                    };
                }

                function startTimer(elementId, duration) {
                    var display = document.getElementById(elementId);
                    var exclamation = document.createElement('span');
                    exclamation.textContent = ' !';
                    exclamation.style.color = 'alert_color'; 

                    function updateDisplay() {
                        var localTime = new Date();
                        var secondsElapsed = localTime.getSeconds() % duration;
                        var timer = duration - secondsElapsed - 1;
                        var seconds = parseInt(timer % 60, 10);

                        seconds = seconds < 10 ? "0" + seconds : seconds;

                        if (timer <= 9) {
                            display.textContent = "Remaining Time: " + seconds + "s - Expiring";
                            display.appendChild(exclamation);

                            var flashSpeed = 1;
                            if (timer <= 8) flashSpeed = 0.8;
                            if (timer <= 7) flashSpeed = 0.6;
                            if (timer <= 6) flashSpeed = 0.4;
                            if (timer <= 5) flashSpeed = 0.2;

                            exclamation.style.animation = `flash ${flashSpeed}s steps(1, end) infinite`;
                        } else {
                            display.textContent = "Remaining Time: " + seconds + "s";
                            if (display.contains(exclamation)) {
                                display.removeChild(exclamation);
                            }
                        }
                    }

                    function loop() {
                        updateDisplay();

                        var now = new Date();
                        var delay = 1000 - now.getMilliseconds();

                        setTimeout(loop, delay);
                    }

                    loop();
                }

                document.addEventListener('DOMContentLoaded', function() {
                    var elements = document.querySelectorAll('[id^="timer"]');
                    elements.forEach(function(element) {
                        if (element) {
                            var refreshTime = parseInt(element.getAttribute('data-refresh-time'), 10);
                            startTimer(element.id, refreshTime);
                        }
                    });
                });
                
                window.onload = function() {
                    let spoilerElements = document.getElementsByClassName('spoiler');
                    for (let i = 0; i < spoilerElements.length; i++) {
                        let originalText = spoilerElements[i].innerText;
                        spoilerElements[i].setAttribute('data-original', originalText);
                        spoilerElements[i].innerText = '●'.repeat(originalText.length);
                        spoilerElements[i].onmouseover = function() {
                            this.innerText = this.getAttribute('data-original');
                        }
                        spoilerElements[i].onmouseout = function() {
                            this.innerText = '●'.repeat(this.getAttribute('data-original').length);
                        }
                    }

                    let progressBars = document.getElementsByClassName('progress-bar');
                    for (let i = 0; i < progressBars.length; i++) {
                        let duration = parseInt(progressBars[i].getAttribute('data-refresh-time')); 
                        startCountdown(progressBars[i], duration);
                    }

                    let otpContainers = document.querySelectorAll('.alert.alert-success');
                    otpContainers.forEach(function(container) {
                        container.classList.add('fade-in');
                    });

                    startAutoRefresh();
                };

                document.getElementById('searchInput').addEventListener('input', function() {
                    var filter = this.value.toUpperCase();
                    var rowDiv = document.querySelector('.row'); 
                    
                    var otpDivs = rowDiv.querySelectorAll('.col-md-4');
                    var displayed = 0;
                    otpDivs.forEach(function(div) {
                        var name = div.querySelector('.alert').textContent;
                        if (name.toUpperCase().indexOf(filter) > -1) {
                            div.style.display = 'block';
                            displayed++;
                        } else {
                            div.style.display = 'none';
                        }
                    });
                        
                        var companyGroups = rowDiv.querySelectorAll('.col-md-12.mt-4');
                        companyGroups.forEach(function(companyGroup) {
                            var nextSibling = companyGroup.nextElementSibling;
                            var atLeastOneVisible = false;
                            
                            while (nextSibling && !nextSibling.matches('.col-md-12.mt-4')) {
                                if (nextSibling.style.display !== 'none') {
                                    atLeastOneVisible = true;
                                    break;
                                }
                                nextSibling = nextSibling.nextElementSibling;
                            }
                            
                            if (atLeastOneVisible) {
                                companyGroup.style.display = 'block';
                            } else {
                                companyGroup.style.display = 'none';
                            }
                        });

                        if (displayed === 0) {
                            document.getElementById('noSecretsFound').style.display = 'block';
                        } else {
                            document.getElementById('noSecretsFound').style.display = 'none';
                        }
                    });

                    document.getElementById('searchInput').addEventListener('keydown', function(event) {
                        if (event.key === 'Enter') {
                            event.preventDefault();
                            let query = encodeURIComponent(this.value);

                            var otpDivs = document.getElementsByClassName('col-md-4');
                            var displayed = 0;
                            for (var i = 0; i < otpDivs.length; i++) {
                                if (otpDivs[i].style.display !== 'none') {
                                    displayed++;
                                }
                            }
                            
                            if (displayed === 0) {
                                document.getElementById('noSecretsFound').style.display = 'block'; 
                            } else {
                                document.getElementById('noSecretsFound').style.display = 'none';
                                window.location.href = `/search_blueprint/search_otp?page=1&name=${query}`;
                            }
                        }
                    });

                    function copyToClipboard(element) {
                        let text = element.textContent;
                        navigator.clipboard.writeText(text).then(() => {
                            showToast();
                        }).catch(err => {
                            console.error('Fehler beim Kopieren: ', err);
                        });
                    }
                    
                    function showToast() {
                        var toast = document.getElementById('toast');
                        toast.style.display = 'block';

                        setTimeout(function() {
                            toast.classList.add('toast-show');
                        }, 10);

                        setTimeout(function() {
                            toast.classList.remove('toast-show');
                            setTimeout(function() {
                                toast.style.display = 'none';
                            }, 500); 
                        }, 5000); 
                    }

                    let formToSubmit;

                    document.addEventListener('DOMContentLoaded', (event) => {
                        document.querySelectorAll('.delete-btn').forEach((button) => {
                            button.addEventListener('click', function() {
                                let otpName = this.getAttribute('data-otp-name');
                                formToSubmit = document.getElementById(`deleteForm_${otpName}`);
                            });
                        });
                        
                        document.getElementById('deleteConfirmationButton').onclick = () => {
                            formToSubmit.submit();
                        };
                    });

                    document.addEventListener("DOMContentLoaded", function() {
                        let placeholders = [
                        "Search for One-Time Passwords",
                        "Press Enter to Display All Results",
                        "Type a Company Name to Search Directly",
                        "Keine Ahnung was ich hier einfügen soll..",
                        "Use Keywords to Narrow Down Results",
                        "Python Python Python; Bim Bim Bam Bam, hehehaha",
                        "Enter the Name of the OTP for Immediate Retrieval"
                        ];

                        let randomIndex = Math.floor(Math.random() * placeholders.length);
                        let selectedPlaceholder = placeholders[randomIndex];

                        let placeholderText = Array.from(selectedPlaceholder);
                        let input = document.getElementById("searchInput");

                        let i = 0;
                        let placeholderInterval = setInterval(function(){
                            if(i < placeholderText.length){
                            input.setAttribute("placeholder", input.getAttribute("placeholder") + placeholderText[i]);
                            i++;
                            } else {
                            clearInterval(placeholderInterval);
                            }
                        }, 100);
                        });
                </script>
        {% endblock %}
    </body>
</html>