{% extends 'bootstrap/base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<style>
    body {
        background: #202020; 
        color: #ffffff; 
        font-family: 'Roboto', sans-serif;
        position: relative;
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    @keyframes slideIn {
        from {
            top: -50px;
            opacity: 0;
        }
        to {
            top: 20px;
            opacity: 1;
        }
    }
    
    body.loaded {
        background: url('{{ url_for("static", filename="Background.jpg") }}') center/cover no-repeat;
        transition: background 1s ease-in-out;
    }
    
    a {
        color: #0d6efd;
    }
    
    a:hover {
        color: #0056b3;
    }
    
    .center-content {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        height: 100vh; 
    }
    
    .form-container {
        max-width: 350px; 
        width: 100%;
        padding: 20px; 
        margin-bottom: 20px;
        border-radius: 20px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
        background: #333333;
        opacity: 0;
        transition: opacity 0.6s ease-out;
    }
    
    .instruction-text {
        font-size: 14px; 
        text-align: center; 
        font-style: italic;
        width: 80%;
        line-height: 1.4; 
    }
    
    .form-title {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .form-control {
        border-radius: 5px;
        background: #3a3a3a;
        color: #ffffff;
    }
    
    .form-control:focus {
        border-color: #555;
        box-shadow: none;
    }
    
    .form-submit {
        margin-top: 20px;
        background-color: #CD5C5C; 
        border: none;
        transition: background-color 0.3s ease;
    }
    
    .form-submit:hover {
        background-color: #B94A4A;
    }
    
    .loader {
        border: 5px solid #f3f3f3; 
        border-top: 5px solid #555; 
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
        display: none;
    }
    
    .flash-messages {
        position: absolute;
        top: 10px; 
        left: 50%; 
        transform: translateX(-50%); 
        background: none; 
        padding: 10px 20px; 
        text-align: center;
        font-size: 14px;
        border-radius: 10px; 
        color: #fff; 
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 1;
    }
    
    .idle-animation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        pointer-events: none;
        z-index: 2;
    }

    .idle-animation.active { 
        opacity: 1;
        pointer-events: auto;
    }

    .idle-animation-text {
        color: #ffffff;
        font-size: 24px;
        text-align: center;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .wave-group {
        position: relative; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
        margin-bottom: 15px; 
    }


    .wave-group .input {
        font-size: 16px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 200px;
        border: none;
        border-bottom: 1px solid #515151;
        background: transparent;
    }

        .wave-group .input:focus {
        outline: none;
    }

    .wave-group .label {
        position: absolute;
        top: -8px; 
        left: 50%;
        transform: translateX(-50%); 
        transition: 0.3s ease all;
    }

        .wave-group .label-char {
        transition: 0.2s ease all;
        transition-delay: calc(var(--index) * .05s);
    }

        .wave-group .input:focus ~ label .label-char,
        .wave-group .input:valid ~ label .label-char {
        transform: translateY(-20px);
        font-size: 14px;
        color: #5264AE;
    }

        .wave-group .bar {
        position: relative;
        display: block;
        width: 200px;
    }

        .wave-group .bar:before,.wave-group .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

        .wave-group .bar:before {
        left: 50%;
    }

        .wave-group .bar:after {
        right: 50%;
    }

        .wave-group .input:focus ~ .bar:before,
        .wave-group .input:focus ~ .bar:after {
        width: 50%;
    }

    </style>

<script>
    var idleTimeout;

    function showIdleAnimation() {
        var idleAnimation = document.querySelector(".idle-animation");
        idleAnimation.classList.add("active");
    }

    document.addEventListener("DOMContentLoaded", function () {
        var image = new Image();
        image.src = '{{ url_for("static", filename="Background.jpg") }}';
        image.onload = function () {
            document.body.classList.add('loaded');
        };

        var formContainer = document.querySelector(".form-container");
        formContainer.style.opacity = "1";

        function redirectToProfile() {
            formContainer.style.opacity = "0";
            setTimeout(function () {
                window.location.href = "{{ url_for('profile') }}";
            }, 600);
        }

        var flashMessage = document.querySelector(".flash-messages");
        if (flashMessage) {
            flashMessage.style.display = "block";
            setTimeout(function () {
                flashMessage.style.display = "none";
            }, 5000);
        }

        idleTimeout = setTimeout(showIdleAnimation, 300000); 
    });

    document.addEventListener("mousemove", function () {
        clearTimeout(idleTimeout);
        var idleAnimation = document.querySelector(".idle-animation");
        idleAnimation.classList.remove("active");
        idleTimeout = setTimeout(showIdleAnimation, 300000); 
    });
</script>

<div class="center-content">
    <div class="form-container">
        <h1 class="form-title">Login</h1>
        <form method="post">
            <div class="wave-group">
                <input required="" type="text" name="username" class="input" value="{{ username }}" autocomplete="username">
                <span class="bar"></span>
                <label class="label">
                  <span class="label-char" style="--index: 0">U</span>
                  <span class="label-char" style="--index: 1">s</span>
                  <span class="label-char" style="--index: 2">e</span>
                  <span class="label-char" style="--index: 3">r</span>
                  <span class="label-char" style="--index: 4">n</span>
                  <span class="label-char" style="--index: 5">a</span>
                  <span class="label-char" style="--index: 6">m</span>
                  <span class="label-char" style="--index: 7">e</span>
                </label>
              </div>
              <div class="wave-group">
                <input required="" type="password" name="password" class="input">
                <span class="bar"></span>
                <label class="label">
                  <span class="label-char" style="--index: 0">P</span>
                  <span class="label-char" style="--index: 1">a</span>
                  <span class="label-char" style="--index: 2">s</span>
                  <span class="label-char" style="--index: 3">s</span>
                  <span class="label-char" style="--index: 4">w</span>
                  <span class="label-char" style="--index: 5">o</span>
                  <span class="label-char" style="--index: 6">r</span>
                  <span class="label-char" style="--index: 7">d</span>
                </label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" name="keep_logged_in" id="keep_logged_in">
                <label class="form-check-label" for="keep_logged_in">Keep me logged in</label>
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <input type="submit" value="Login" class="btn btn-primary btn-block form-submit">
        </form>
        <div class="loader"></div>
        <div class="error-message" style="display: none;">Benutzername oder Passwort ist falsch!</div>
    </div>
    <p class="instruction-text">Bitte melden Sie sich mit den Ihnen zugewiesenen Zugangsdaten an, die von Ihrem verantwortlichen Systemadministrator bereitgestellt wurden, um Zugriff auf die Liste der OTPs zu erhalten.</p>
</div>

<div class="idle-animation">
    <img src="{{ url_for('static', filename='idle.gif') }}" alt="Idle Animation GIF" style="max-width: 50%; max-height: 40%; position: absolute; top: 30px;">
    <div class="idle-animation-text">Sie waren inaktiv. Klicken Sie, um fortzufahren.</div>
</div>
{% endblock %}

