{% extends 'bootstrap/base.html' %}

{% block title %} Login at OTP-Manager {% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

<script>
    var idleTimeout;

    function fadeOutForm() {
        var formContainer = document.querySelector(".form-container");
        formContainer.classList.add('fade-out');
    }

    function fadeInForm() {
        var formContainer = document.querySelector(".form-container");
        formContainer.classList.remove('fade-out');
    }

    function showIdleAnimation() {
        document.getElementById('matrixEffect').style.display = 'block';
        document.body.classList.remove('loaded'); 
        startMatrixAnimation();
    }

    document.addEventListener("mousemove", function () {
        clearTimeout(idleTimeout);
        hideIdleAnimation();
        idleTimeout = setTimeout(showIdleAnimation, 300000);
    });

    function startMatrixAnimation() {
        var c = document.createElement("canvas");
        document.getElementById('matrixEffect').appendChild(c);
        var ctx = c.getContext("2d");

        c.style.position = "fixed";
        c.style.left = "0";
        c.style.top = "0";

        function resizeCanvas() {
            c.height = window.innerHeight;
            c.width = window.innerWidth;

            columns = c.width / font_size;
            drops = [];
            for(var x = 0; x < columns; x++) {
                drops[x] = Math.floor(Math.random() * -20);
            }
        }

        var matrixChars = "ඞabcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ123456789@#$%^&*()*&^%ඞ";
        matrixChars = matrixChars.split("");

        var font_size = 10;
        var columns = c.width / font_size; 
        var drops = [];

        for(var x = 0; x < columns; x++) {
            drops[x] = Math.floor(Math.random() * -20);
        }

        function drawMatrix() {
            ctx.fillStyle = "rgba(0, 0, 0, 0.04)"; 
            ctx.fillRect(0, 0, c.width, c.height);
            ctx.fillStyle = "#00BCE3"; 
            ctx.font = font_size + "px arial";

            for(var i = 0; i < drops.length; i++) {
                var text = matrixChars[Math.floor(Math.random() * matrixChars.length)];
                ctx.fillText(text, i * font_size, drops[i] * font_size);

                if(drops[i] * font_size > c.height && Math.random() > 0.975) {
                    drops[i] = Math.floor(Math.random() * -20);
                }

                drops[i]++;
            }
        }

        resizeCanvas();
        window.addEventListener('resize', function() {
            resizeCanvas();
        });

        setInterval(drawMatrix, 33);
    }

    document.addEventListener("DOMContentLoaded", function () {
        startMatrixAnimation();
        idleTimeout = setTimeout(fadeOutForm, 30000); 

        var formContainer = document.querySelector(".form-container");
        formContainer.style.opacity = "1";

        var flashMessage = document.querySelector(".flash-messages");
        if (flashMessage) {
            flashMessage.style.opacity = "1"; 
            setTimeout(function() {
                flashMessage.style.opacity = "0"; 
            }, 5000); 
        }
    });

    document.addEventListener("mousemove", function () {
        clearTimeout(idleTimeout);
        fadeInForm();
        idleTimeout = setTimeout(fadeOutForm, 30000); 
    });

    document.addEventListener("DOMContentLoaded", function() {
        var flashMessage = document.querySelector(".flash-messages");
        if (flashMessage) {
            flashMessage.style.opacity = "1"; 
            setTimeout(function() {
                flashMessage.style.opacity = "0"; 
            }, 5000); 
        }
    });

    function showWhatsNewModal() {
        document.getElementById('whatsNewModal').style.display = 'block';
    }

    function closeWhatsNewModal() {
        document.getElementById('whatsNewModal').style.display = 'none';
    }

    // Optional: Close the modal when the user clicks anywhere outside of the modal content
    window.onclick = function(event) {
        var modal = document.getElementById('whatsNewModal');
        if (event.target == modal) {
            closeWhatsNewModal();
        }
    }

    $(document).ready(function() {
        $('form').submit(function(event) {
            event.preventDefault(); // Prevent the form from submitting via the browser

            var form = $(this);
            $.ajax({
                type: 'POST',
                url: "{{ url_for('login') }}",
                data: form.serialize(),
                success: function(response) {
                    if(response.status === 'success') {
                        $('.center-content').hide(); // Hide the form
                        $('.welcome-message').text(response.message).show(); // Show welcome message

                        setTimeout(function() {
                            window.location.href = "{{ url_for('home') }}";
                        }, 4500);
                    } else {
                        alert(response.message); // Show error message
                    }
                }
            });
        });
    });
</script>

<div id="matrixEffect"></div>

{% if login_successful %}
        <script>
            setTimeout(function() {
                window.location.href = "{{ url_for('home') }}"; 
            }, 0);
        </script>
{% else %}

<div class="center-content">
    <div class="form-container">
        <h1 class="form-title">Login</h1>
        <form method="post">
            <div class="wave-group">
                <input class="input" required="" type="text" name="username" placeholder="Username" value="{{ username or '' }}" autocomplete="username">
                <label class="label"></label>
            </div>
            <div class="wave-group">
                <input class="input" required="" type="password" name="password" placeholder="Password" autocomplete="current-password">
                <label class="label"></label>
            </div>        
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" name="keep_logged_in" id="keep_logged_in">
                <label class="form-check-label" for="keep_logged_in">Keep me logged in</label>
            </div>

            <input type="submit" value="Login" class="btn btn-primary btn-block form-submit">
        </form>
        <div class="loader"></div>
        <div class="error-message" style="display: none;">Benutzername oder Passwort ist falsch!</div>
    </div>
    <p class="instruction-text">Please login with your Credentials to gain Access to the OTP-List.</p>
</div>

<div id="whatsNewIcon" class="material-icons-outlined" onclick="showWhatsNewModal()">help_outline</div>

<div id="whatsNewModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="closeWhatsNewModal()">&times;</span>
        <h2>What's New</h2>
        <p>Here are the latest changes to the OTP-Manager:</p>
        <ul>
            <li><strong>January 5, 2024:</strong> Implemented new in-progress server settings for enhanced security and reliability.</li>
            <li><strong>January 4, 2024:</strong> Introduced a new feedback feature that reports users the input errors that appeared in the adding page.</li>
            <li><strong>January 2, 2024:</strong> The Adding Page has been updated to streamline the user experience, and the search method now includes instant feedback to improve usability.</li>
            <li><strong>January 1, 2024:</strong> Optimized the login method to enhance system performance and reduce login times significantly.</li>
            <li><strong>December 23, 2023:</strong> Conducted minor changes and optimizations across the platform to improve overall efficiency and user experience.</li>
            <li><strong>December 20, 2023:</strong> Enhanced the navigation bar for smoother and more intuitive navigation across the platform.</li>
            <li><strong>December 14, 2023:</strong> Reworked the administrative settings to provide admins with a more streamlined and efficient interface for managing platform settings.</li>
            <li><strong>December 12, 2023:</strong> Modified the Moderation Log feature to provide more detailed logs, offering better insights and tracking capabilities for moderators.</li>
            <li><strong>December 11, 2023:</strong> The Profile Page has been removed as it is no longer required, and we've introduced an improved design for the login form to enhance user experience.</li>
            <li><strong>December 1, 2023:</strong> Performed database optimizations to enable faster query processing and improve the speed of data retrieval.</li>
        </ul>
    </div>
</div>

{% endif %}
{% endblock %}

