{% extends 'bootstrap/base.html' %}

{% block title %} Live Logs {% endblock %}

    {% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/logs.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="logs-section d-flex justify-content-between align-items-center">
    <div>
        {% if current_user.show_content_titles %}
            <h1 class="mb-0">Server Logs</h1>
        {% endif %}
    </div>
    <div class="toggle-switch">
        <input type="checkbox" id="filter-toggle" hidden>
        <button id="toggle-btn" aria-label="Toggle Filter">
            Show Start Messages
        </button>
        <button id="warning-btn" class="log-filter-btn" aria-label="Toggle Warning">Warn</button>
        <button id="info-btn" class="log-filter-btn" aria-label="Toggle Info">Info</button>
        <button id="error-btn" class="log-filter-btn" aria-label="Toggle Error">Errors</button>    
    </div>
</div>

<div id="loading-placeholder" class="loading-animation">
    Fetching Logs from Server<span class="loading-dots">.</span>
</div>
<div class="logs-box" style="display: none;">
    <table id="logs-table" class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Type</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody id="logs">
        </tbody>
    </table>               
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    var previousLogs = ""; 

    function displayLogs() {
        var logsBox = $('.logs-box'); 
        var loadingPlaceholder = $('#loading-placeholder');
        $.getJSON('/get_logs', function(data) {
            var currentLogs = JSON.stringify(data.logs); 
            if (currentLogs !== previousLogs) {
                previousLogs = currentLogs;

                if (data.logs) {
                    loadingPlaceholder.hide();
                    logsBox.fadeIn('slow'); 
                } else {
                    loadingPlaceholder.show();
                    logsBox.hide();
                }
            }
        });
    }

    setInterval(displayLogs, 1000);

    var filterToggle = $('#filter-toggle');
    var logFilters = {
        showStart: false,
        showWarning: true,
        showInfo: true,
        showError: true
    };

    function updateButtonText(button, show, text) {
        button.textContent = show ? `Hide ${text}` : `Show ${text}`;
    }

    function fetchAndUpdateLogs() {
        var filterStatus = filterToggle.is(':checked');
        $.getJSON('/get_logs', { filter_out: filterStatus }, function(data) {
            var logs = data.logs;
            var logLines = logs.split('\n');
            $('#logs').empty(); 
            logLines.forEach(function(logLine) {
                var logMatch = logLine.match(/(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}),\d{3} \[(\w+)\] (.+)/);
                if (logMatch) {
                    var type = logMatch[2].toLowerCase();
                    if ((type === 'warning' && !logFilters.showWarning) ||
                        (type === 'info' && !logFilters.showInfo) ||
                        (type === 'error' && !logFilters.showError) ||
                        (type === 'start' && !logFilters.showStart)) {
                        return; 
                    }
                    var datetime = logMatch[1]; // Now only contains date and time (HH:MM:SS) without milliseconds
                    var message = logMatch[3];
                    var datetimeParts = datetime.split(' ');
                    var date = datetimeParts[0];
                    var time = datetimeParts[1]; // No longer contains milliseconds
                    var typeClass = type.toLowerCase() === 'error' ? 'error-log' : type.toLowerCase() + '-log';
                    var logRow = '<tr>' +
                                    '<td>' + date + '</td>' +
                                    '<td>' + time + '</td>' +
                                    '<td class="' + typeClass + '">' + type + '</td>' +
                                    '<td>' + message + '</td>' +
                                '</tr>';
                    $('#logs').prepend(logRow); 
                }
            });
        });
    }

    setInterval(fetchAndUpdateLogs, 1000); 

    function updateButtonState(button, isActive, text) {
        button.textContent = isActive ? `Hide ${text}` : `Show ${text}`;
        if (button.textContent.includes("Hide")) {
            button.classList.add('button-active');
        } else {
            button.classList.remove('button-active');
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        var toggleButton = document.getElementById('toggle-btn');
        var warningButton = document.getElementById('warning-btn');
        var infoButton = document.getElementById('info-btn');
        var errorButton = document.getElementById('error-btn');

        filterToggle.prop('checked', false);
        toggleButton.textContent = 'Hide Start Messages';
        updateButtonText(warningButton, logFilters.showWarning, 'Warning Messages');
        updateButtonText(infoButton, logFilters.showInfo, 'Info Messages');
        updateButtonText(errorButton, logFilters.showError, 'Error Messages');

        toggleButton.addEventListener('click', function() {
            logFilters.showStart = !logFilters.showStart;
            updateButtonState(toggleButton, logFilters.showStart, 'Start Messages');
            fetchAndUpdateLogs(); 
        });

        warningButton.addEventListener('click', function() {
            logFilters.showWarning = !logFilters.showWarning;
            updateButtonState(warningButton, logFilters.showWarning, 'Warning Messages');
            fetchAndUpdateLogs(); 
        });

        infoButton.addEventListener('click', function() {
            logFilters.showInfo = !logFilters.showInfo;
            updateButtonState(infoButton, logFilters.showInfo, 'Info Messages');
            fetchAndUpdateLogs(); 
        });

        errorButton.addEventListener('click', function() {
            logFilters.showError = !logFilters.showError;
            updateButtonState(errorButton, logFilters.showError, 'Error Messages');
            fetchAndUpdateLogs(); 
        });
    });
</script>


{% endblock %}