{% extends 'bootstrap/base.html' %}

{% block title %} Real-time Logs {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Real-time Logs</a>
        <a href="{{ url_for('home') }}" class="navbar-brand">Back to OTP List</a>
    </nav>
{% endblock %}

{% block content %}

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f5f7;
    }

    .center-content {
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Changed to position at the top */
        min-height: 100vh;
        padding-top: 50px;
    }

    .logs-container {
        max-width: 1200px;
        width: 95%;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        background: #ffffff;
    }

    .logs-content {
        overflow-y: scroll;
        max-height: 600px;
        border-top: 1px solid #e5e5e5;
        padding-top: 20px;
    }

    .logs-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
        font-weight: 600;
    }

    #logs {
        color: #666;
        font-size: 14px;
        line-height: 1.5;
    }
</style>

<div class="center-content">
    <div class="logs-container">
        <h1 class="logs-title">Real-time Logs</h1>
        <div class="logs-content">
            <pre id="logs"></pre>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function updateLogs() {
        $.get("/get_logs?lines=100", function(data) {
            $("#logs").text(data.logs);
        });
    }

    // Fetch logs every 5 seconds
    setInterval(updateLogs, 5000);

    // Fetch logs initially
    updateLogs();
</script>

{% endblock %}
