<link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('home') }}" style="hover_color: {{ text_color }};">Home</a> 
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('add') }}" style="hover_color: {{ text_color }};">Add</a> 
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('view_logs') }}" style="hover_color: {{ text_color }};">Logs</a> 
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('admin.admin_settings') }}" style="hover_color: {{ text_color }};">Management</a> 
    </div>    
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('about') }}" style="hover_color: {{ text_color }};">About</a> 
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand icon-link" href="{{ url_for('settings') }}">
            <i class="material-icons-outlined">settings</i> 
        </a>        
    </div>   
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% endif %}
    {% endwith %}
    
    <div id="logoutContainer">
        <div id="logoutBtn">
            <a class="navbar-brand" href="{{ url_for('logout') }}">
                Logout
                <i class="material-icons-outlined">logout</i>
            </a>
        </div>                    
    </div>            
</nav>

<div id="flash-messages-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">
                    <span class="material-icons-outlined flash-icon">{{ category|category_icon }}</span>
                    {{ message }}
                    <span class="flash-close-btn">&times;</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var hoverColor = '{{ text_color }}';  
        if (hoverColor === '#FFFFFF') {
            hoverColor = '#CD5C5C'; 
        }

        var closeButtons = document.querySelectorAll('.flash-close-btn');
        closeButtons.forEach(function(btn) {
            btn.onclick = function() {
                var flashMessage = this.parentElement;
                flashMessage.style.opacity = '0';
                setTimeout(function() {
                    flashMessage.remove();
                }, 300);
            };
        });

        var flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(function(message) {
            setTimeout(function() {
                message.style.transition = "opacity 0.5s ease-in-out"; 
                message.style.opacity = '0';
                setTimeout(function() {
                    message.remove();
                }, 500); 
            }, 5000); 
        });

        var navbarLinks = document.querySelectorAll('.navbar .navbar-brand');
        navbarLinks.forEach(function(link) {
            link.onmouseover = function() { 
                var icon = this.querySelector('.material-icons-outlined');
                if (this.parentElement.parentElement.id.includes('logoutContainer')) {
                    if (icon) {
                        icon.classList.add('blink-animation');
                    }
                } else {
                    this.style.color = hoverColor; 
                    if (icon) {
                        icon.classList.add('spin-animation');
                    }
                }
            };
            link.onmouseout = function() { 
                var icon = this.querySelector('.material-icons-outlined');
                if (!this.parentElement.parentElement.id.includes('logoutContainer')) {
                    this.style.color = ''; 
                    if (icon) {
                        icon.classList.remove('spin-animation', 'blink-animation');
                    }
                } else {
                    if (icon) {
                        icon.classList.remove('blink-animation');
                    }
                }
            };
        });
    });
</script>

