<link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a> 
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('add') }}">Add</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('view_logs') }}">Logs</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('admin.admin_settings') }}">Management</a>
    </div>    
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('settings') }}">
            <i class="material-icons-outlined">settings</i> 
        </a>
    </div>   
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% endif %}
    {% endwith %}
    
    <div id="logoutContainer">
        <div id="logoutBtn">
            <a class="navbar-brand" href="{{ url_for('logout') }}">
                Logout
                <i class="material-icons-outlined">logout</i>
            </a>
        </div>                    
    </div>            
</nav>
