<link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('home') }}" style="hover_color: {{ text_color }};">Home</a> 
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('add') }}" style="hover_color: {{ text_color }};">Add</a> 
    </div>
    <div class="navbar-nav mr-auto dropdown">
        <a class="navbar-brand">
            Management
            <span class="material-icons-outlined expand-icon">expand_more</span>
        </a>        
        <div class="dropdown-content">
            <a href="{{ url_for('admin.company_management') }}">Company Settings</a>
            <a href="{{ url_for('admin.user_management') }}">User Settings</a>
            <a href="{{ url_for('server_settings') }}">Server Settings</a>
        </div>
    </div>    
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('about') }}" style="hover_color: {{ text_color }};">About</a> 
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand icon-link" href="{{ url_for('settings') }}">
            <i class="material-icons-outlined">settings</i> 
        </a>        
    </div>   
    {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% endif %}
    {% endwith %}
    
    <div class="right-align-items"> 
        <span id="ntpStatusDot" class="ntp-disconnected"></span>
        <div id="logoutContainer">
            <div id="logoutBtn">
                <a class="navbar-brand" href="{{ url_for('logout') }}">
                    Logout
                    <i class="material-icons-outlined">logout</i>
                </a>
            </div>
        </div>
    </div>                  
</nav>

<div id="flash-messages-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">
                    <span class="material-icons-outlined flash-icon">{{ category|category_icon }}</span>
                    {{ message }}
                    <span class="flash-close-btn">&times;</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var hoverColor = '{{ text_color }}';  
    if (hoverColor === '#FFFFFF') {
        hoverColor = '#CD5C5C'; 
    }

    var logoutIcon = document.querySelector('#logoutBtn .material-icons-outlined');

    document.getElementById('logoutBtn').addEventListener('mouseover', function() {
        logoutIcon.classList.add('blink');
    });

    document.getElementById('logoutBtn').addEventListener('mouseout', function() {
        logoutIcon.classList.remove('blink');
    });

    const elementsToMakeNonDraggable = document.querySelectorAll('.navbar-brand, .icon-link i');

    elementsToMakeNonDraggable.forEach(el => {
        el.setAttribute('draggable', 'false'); 
        el.addEventListener('dragstart', function(e) {
            e.preventDefault(); 
        });
    });

    const logoutBtn = document.getElementById('logoutBtn').querySelector('a');
    if (logoutBtn) {
        logoutBtn.addEventListener('dragstart', function(e) {
            e.preventDefault();
        });
    }

    var dropdownLinks = document.querySelectorAll('.dropdown-content a');
    dropdownLinks.forEach(function(link) {
        link.addEventListener('mouseover', function() {
            this.style.color = hoverColor; 
        });
        link.addEventListener('mouseout', function() {
            this.style.color = ''; 
        });
    });

    var managementLink = document.querySelector('.dropdown .navbar-brand');
    var expandIcon = managementLink.querySelector('.expand-icon');

    managementLink.addEventListener('mouseover', function() {
        expandIcon.classList.add('rotate-icon'); 
    });

    managementLink.addEventListener('mouseout', function() {
        if (!document.querySelector('.dropdown-content:hover')) {
            expandIcon.classList.remove('rotate-icon'); 
        }
    });

    var dropdownContent = document.querySelector('.dropdown-content');
    dropdownContent.addEventListener('mouseover', function() {
        expandIcon.classList.add('rotate-icon');
    });

    dropdownContent.addEventListener('mouseout', function() {
        if (!managementLink.querySelector(':hover')) {
            expandIcon.classList.remove('rotate-icon');
        }
    });

    var dropdown = document.querySelector('.dropdown');
    var dropdownContent = document.querySelector('.dropdown-content');

    dropdown.addEventListener('mouseover', function() {
        dropdownContent.classList.add('show'); 
    });

    dropdown.addEventListener('mouseout', function() {
        dropdownContent.classList.remove('show');
    });

    var closeButtons = document.querySelectorAll('.flash-close-btn');
    closeButtons.forEach(function(btn) {
        btn.onclick = function() {
            var flashMessage = this.parentElement;
            flashMessage.style.opacity = '0';
            setTimeout(function() {
                flashMessage.remove();
            }, 300);
        };
    });

    function fetchFlashMessages() {
        fetch('/get_flash_messages')
            .then(response => response.json())
            .then(data => {
                if (data && data.length > 0) {
                    const container = document.getElementById('flash-messages-container');
                    container.innerHTML = '';
                    data.forEach(({category, message}) => {
                        const div = document.createElement('div');
                        div.className = `flash-message flash-${category}`;
                        div.innerHTML = `
                            <span class="material-icons-outlined flash-icon">${category}</span>
                            ${message}
                            <span class="flash-close-btn">&times;</span>
                        `;
                        container.appendChild(div);

                        div.querySelector('.flash-close-btn').onclick = function() {
                            var flashMessage = this.parentElement;
                            flashMessage.style.opacity = '0';
                            setTimeout(function() { flashMessage.remove(); }, 300);
                        };

                        setTimeout(() => {
                            div.style.opacity = '0';
                            setTimeout(() => { div.remove(); }, 300); 
                        }, 5000);
                    });
                }
            })
            .catch(error => console.error('Error fetching flash messages:', error));
    }


    var flashMessages = document.querySelectorAll('.flash-message');
    flashMessages.forEach(function(message) {
        setTimeout(function() {
            message.style.transition = "opacity 0.5s ease-in-out"; 
            message.style.opacity = '0';
            setTimeout(function() {
                message.remove();
            }, 500); 
        }, 5000); 
    });

    var navbarLinks = document.querySelectorAll('.navbar .navbar-brand:not(#logoutBtn a)');
    navbarLinks.forEach(function(link) {
        link.onmouseover = function() {
            if (!this.closest('#logoutContainer')) {
                this.style.color = hoverColor;
                var icon = this.querySelector('.material-icons-outlined');
                if (icon && icon.textContent === 'settings') {
                    icon.classList.add('spin-animation');
                    icon.style.color = hoverColor;
                }
            }
        };
        link.onmouseout = function() {
            if (!this.closest('#logoutContainer')) {
                this.style.color = ''; 
                var icon = this.querySelector('.material-icons-outlined');
                if (icon) {
                    icon.classList.remove('spin-animation');
                    icon.style.color = ''; 
                }
            }
        };
    });

    const statusDot = document.getElementById('ntpStatusDot');
    statusDot.className = 'spinner';

    function updateDotAppearanceFromStorage() {
        const status = localStorage.getItem('internetStatus');
        const lastChecked = localStorage.getItem('lastChecked');
        if(status && lastChecked) {
            const tooltipText = `Internet Status: ${status} (Last checked: ${lastChecked})`;
            statusDot.setAttribute('title', tooltipText);
            
            if(status === 'Connected') {
                statusDot.classList.remove('ntp-disconnected', 'spinner');
                statusDot.classList.add('ntp-connected');
            } else {
                statusDot.classList.remove('ntp-connected', 'spinner');
                statusDot.classList.add('ntp-disconnected');
            }
        } else {
            statusDot.classList.add('ntp-disconnected');
        }
    }

    updateDotAppearanceFromStorage();

    function updateInternetStatus() {
        const now = new Date();
        const timeString = now.toLocaleTimeString();

        statusDot.classList.add('spinner');
        let spinnerDisplayed = false;

        setTimeout(() => {
            spinnerDisplayed = true;
            if (statusDot.classList.contains('update-complete')) {
                statusDot.classList.remove('spinner', 'update-complete');
            }
        }, 1000);

        fetch('/internet_status')
            .then(response => response.json())
            .then(data => {
                let connectionStatus = "Disconnected";
                if(data.status === 'connected') {
                    connectionStatus = "Connected";
                    statusDot.classList.remove('ntp-disconnected');
                    statusDot.classList.add('ntp-connected');
                } else {
                    statusDot.classList.remove('ntp-connected');
                    statusDot.classList.add('ntp-disconnected');
                }

                const tooltipText = `Internet Status: ${connectionStatus} (Last checked: ${timeString})`;
                statusDot.setAttribute('title', tooltipText);

                localStorage.setItem('internetStatus', connectionStatus);
                localStorage.setItem('lastChecked', timeString);

                if (spinnerDisplayed) {
                    statusDot.classList.remove('spinner');
                } else {
                    statusDot.classList.add('update-complete');
                }
            })
            .catch(error => {
                console.error('Error fetching Internet status:', error);
                statusDot.classList.add('ntp-disconnected');
                const tooltipText = `Error fetching Internet status (Last checked: ${timeString})`;
                statusDot.setAttribute('title', tooltipText);

                localStorage.setItem('internetStatus', 'Disconnected');
                localStorage.setItem('lastChecked', timeString);

                if (spinnerDisplayed) {
                    statusDot.classList.remove('spinner');
                } else {
                    statusDot.classList.add('update-complete');
                }
            });
    }


    setInterval(updateInternetStatus, 10000); 
    setInterval(fetchFlashMessages, 1000); 

    updateInternetStatus();
    fetchFlashMessages();
});

</script>