{% extends 'bootstrap/base.html' %}
{% block title %} No Secrets Found {% endblock %}
{% block styles %}
{{ super() }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/otp_results.css') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<style>
    body {
        background-color: #222;
        color: #fff;
        font-family: 'Roboto', Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .back-home-btn {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1rem;
        background-color: #333;
        color: white;
        text-decoration: none;
        border: 1px solid #757575;
        border-radius: 5px;
        display: block;
        text-align: center;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        opacity: 0;
        transition: opacity 1s ease-in-out, background-color 0.3s, transform 0.3s;
    }
    .back-home-btn:hover {
        background-color: #4c4c4c; /* Darker shade when hovered */
        transform: scale(1.05); /* Slightly larger */
        text-decoration: none; /* Prevents underlining */
        color: white; /* Keeps the color white */
        cursor: pointer;
    }
    .matrix-effect {
        font-family: 'Roboto', Arial, sans-serif;
        letter-spacing: 2px;
        display: inline-block;
        min-width: 500px;
        text-align: center;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <h1 id="glitch" class="matrix-effect" data-text="No secrets are stored under the selected Company">No secrets are stored under the selected Company</h1>
    <a href="{{ url_for('home') }}" class="back-home-btn">Back to Home</a>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
            document.getElementById("glitch").style.opacity = 1;
            document.querySelector(".back-home-btn").style.opacity = 1;
        }, 100); // slight delay for effect
    });
</script>
{% endblock %}
