<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'bootstrap/base.html' %}
    {% block title %}
        {% if search_query %}
            {{ total_results }} results for "{{ search_query }}" - OTP List
        {% else %}
            OTP List
        {% endif %}
    {% endblock %}
    {% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/otp_results.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endblock %}

{% block content %}
{% include 'navbar.html' %}
<script>
    function updateCountdown() {
      //  const countdownElement = document.getElementById("countdown");
        const otpCodeElements = document.querySelectorAll('[id^="otp_code_"]');
        const currentDateTime = new Date();
        const secondsUntilNextInterval = 30 - (currentDateTime.getSeconds() % 30);

      //  countdownElement.textContent = `OTP Expires in ${secondsUntilNextInterval} seconds`;
      //  countdownElement.classList.add('animated-countdown');

        if (secondsUntilNextInterval <= 5) {
            otpCodeElements.forEach((element) => {
                element.classList.add('blink-text');
            });
        } else {
            otpCodeElements.forEach((element) => {
                element.classList.remove('blink-text');
            });
        }

        setTimeout(updateCountdown, 1000);
    }

    async function updateOtpCodes(otpCodes) {
        otpCodes.forEach(otp => {
            let otpCodeElement = document.getElementById(`otp_code_${otp.name}`);

            if (otpCodeElement) {
                otpCodeElement.textContent = otp.current_otp; // Use current_otp instead of otp_code
            }
        });
    }

    async function manuallyRefreshOtps() {
        try {
            const response = await fetch('/refresh_codes_v2');
            const data = await response.json();
            updateOtpCodes(data.otp_codes);
        } catch (error) {
            console.error('Fetch error:', error);
        }
    }

    function startAutoRefresh() {
        manuallyRefreshOtps();

        let currentTime = new Date();
        let millisTillNextInterval = 30000 - (currentTime.getSeconds() * 1000 + currentTime.getMilliseconds()) % 30000;

        setTimeout(() => {
            manuallyRefreshOtps();
            const intervalId = setInterval(manuallyRefreshOtps, 30000);
            countdownIntervals.set('autoRefreshInterval', intervalId);
        }, millisTillNextInterval);
    }

    function startCountdown(elementId, duration) {
        let remainingTimeElement = document.getElementById(`remaining_time_${elementId}`);
        if (!remainingTimeElement) {
            console.error(`No remaining time element found for ID remaining_time_${elementId}`);
            return;
        }

        let warningSignElement = document.createElement('i');
        warningSignElement.className = 'material-icons-outlined warning-sign';
        warningSignElement.textContent = 'warning'; // The icon text for the warning icon in Google Material Icons
        warningSignElement.style.display = 'none'; // Initially hide the warning sign
        remainingTimeElement.parentNode.insertBefore(warningSignElement, remainingTimeElement.nextSibling); // Insert it right after the remainingTimeElement

        if (window.countdownIntervals && window.countdownIntervals[elementId]) {
            clearInterval(window.countdownIntervals[elementId]);
        } else {
            window.countdownIntervals = {};
        }

        let countdownUpdate = () => {
            let current_time = new Date();
            let seconds = current_time.getSeconds();
            let remaining = duration - seconds % duration;
            remainingTimeElement.textContent = `${remaining}s`;

            if (remaining <= 10) {
                remainingTimeElement.classList.add('warning-time'); // Add class to show warning
            } else {
                remainingTimeElement.classList.remove('warning-time'); // Remove class to hide warning
            }

            if (remaining <= 0) {
                clearInterval(window.countdownIntervals[elementId]);
                manuallyRefreshOtps();
            }
        };

        countdownUpdate();
        window.countdownIntervals[elementId] = setInterval(countdownUpdate, 1000);
    }
    function initializeCountdownsForOtpCodes() {
        let otpCodeElements = document.querySelectorAll('[id^="otp_code_"]');
        otpCodeElements.forEach((otpElement) => {
            let elementId = otpElement.id.split('_')[2]; 
            startCountdown(elementId, 30); 
        });
    }

    function debounce(func, wait) {
        let timeout;
        return function() {
            const context = this, args = arguments;
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(context, args), wait);
        };
    }

    window.onload = function() {
        let spoilerElements = document.getElementsByClassName('spoiler');
        for (let i = 0; i < spoilerElements.length; i++) {
            let originalText = spoilerElements[i].innerText;
            spoilerElements[i].setAttribute('data-original', originalText);
            spoilerElements[i].innerText = '●'.repeat(originalText.length);
            spoilerElements[i].onmouseover = function() {
                this.innerText = this.getAttribute('data-original');
            }
            spoilerElements[i].onmouseout = function() {
                this.innerText = '●'.repeat(this.getAttribute('data-original').length);
            }
        }

        let progressBars = document.getElementsByClassName('progress-bar');
        for (let i = 0; i < progressBars.length; i++) {
            let duration = parseInt(progressBars[i].getAttribute('data-refresh-time')); 
            startCountdown(progressBars[i], duration);
        }

        let otpContainers = document.querySelectorAll('.alert.alert-success');
        otpContainers.forEach(function(container) {
            container.classList.add('fade-in');
        });

        startAutoRefresh();
        updateCountdown();

        let countdownTimer = document.getElementById('countdown');
        setTimeout(() => {
            countdownTimer.classList.add('show');
        }, 500);

        animateTableRows();
        initializeCountdownsForOtpCodes();
    };

    document.getElementById('searchInput').addEventListener('input', function() {
        var filter = this.value.toUpperCase();
        var otpDivs = document.getElementsByClassName('col-md-4');
        for (var i = 0; i < otpDivs.length; i++) {
            var div = otpDivs[i];
            var name = div.querySelector('.alert').textContent;
            if (name.toUpperCase().indexOf(filter) > -1) {
                div.style.display = 'block'; 
            } else {
                div.style.display = 'none'; 
            }
        }
    });

    document.getElementById('searchInput').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();

            let query = encodeURIComponent(this.value);
            window.location.href = `/search_otp?name=${query}`;
        }
    });

    function copyToClipboard(element) {
        let text = element.textContent;
        let input = document.createElement('input');
        input.setAttribute('value', text);
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
        
        showToast();
    }

    function animateTableRows() {
        const rows = document.querySelectorAll('tbody tr');
        let delay = 0;
        const baseDelay = 100; 
        const delayDecrementFactor = rows.length > 10 ? 5 : 1; // Increase the decrement factor for more than 10 rows
        const delayDecrement = (baseDelay / Math.max(rows.length, 1)) * delayDecrementFactor; // Ensure rows.length is never 0 to avoid division by zero
        let currentDelayIncrement = baseDelay - delayDecrement;

        rows.forEach((row, index) => {
            setTimeout(() => {
                row.classList.add('slide-down');
            }, delay);

            delay += Math.max(currentDelayIncrement, 5); 
        });
    }

    function showToast() {
        let toast = document.getElementById('toast');
        toast.style.display = 'block';
        setTimeout(() => {
            toast.style.display = 'none';
        }, 5000);
    }

    let formToSubmit;

    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.delete-btn').forEach((button) => {
            button.addEventListener('click', function() {
                let otpName = this.getAttribute('data-otp-name');
                formToSubmit = document.getElementById(`deleteForm_${otpName}`);
            });
        });
        
        document.getElementById('deleteConfirmationButton').onclick = () => {
            formToSubmit.submit();
        };
    });

    function revealSecret(element) {
        const hiddenSecret = element.querySelector('.hiddenSecret');
        const maskedSecret = element.querySelector('.maskedSecret');
        hiddenSecret.style.display = 'inline';
        maskedSecret.style.display = 'none';
    }

    function hideSecret(element) {
        const hiddenSecret = element.querySelector('.hiddenSecret');
        const maskedSecret = element.querySelector('.maskedSecret');
        hiddenSecret.style.display = 'none';
        maskedSecret.style.display = 'inline';
    }

    function showToast() {
        let toast = document.getElementById('toast');
        toast.style.opacity = '1';
        toast.style.display = 'block';

        setTimeout(() => {
            toast.style.opacity = '0';
        }, 3000);

        setTimeout(() => {
            toast.style.display = 'none'; 
        }, 3500); 
    }
</script>

<div class="container">
    {% if search_query %}
        <h1>{{ total_results }} results for "{{ search_query }}"</h1>
    {% else %}
        <h1>OTP Secrets</h1>
    {% endif %}
    <!-- <div class="countdown-timer" id="countdown">Calculating OTP Expiry...</div> -->

    <div id="toast" class="toast" style="display:none;">Copied to clipboard!</div>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Secret</th>
                    <th>Type</th>
                    <th>OTP Code</th>
                    <th>Company</th>
                    <th>Email</th> <!-- New Email Column -->
                    <th>Expiry Time</th>
                </tr>
            </thead>
            <tbody>
                {% for secret in matched_secrets %}
                    <tr>
                        <td>{{ secret.name }}</td>
                        <td class="secretField" onmouseover="revealSecret(this)" onmouseout="hideSecret(this)">
                            <span class="hiddenSecret">{{ secret.secret }}</span>
                            <span class="maskedSecret">●●●●●●●●●●●●●●●●</span>
                        </td>                    
                        <td>{{ secret.otp_type }}</td>
                        <td id="otp_code_{{ secret.name }}" class="otp-code" onclick="copyToClipboard(this)">{{ secret.otp_code }}</td>
                        <td>{{ secret.company }}</td>
                        <td>{{ secret.email }}</td> <!-- Display Email Here -->
                        <td id="remaining_time_{{ secret.name }}"></td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
</div>
{% endblock %}