{% extends 'bootstrap/base.html' %}

{% block title %} User Settings {% endblock %}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=".{{ url_for('static', filename='styles/settings.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="settings-container">
    <h1 class="text-center">User Settings</h1>

    <form method="post" class="form-container">
        <h2>General Settings</h2>
        <div class="form-item">
            <label class="toggle-switch">
                <input type="checkbox" id="showContentTitles" name="show_content_titles" {% if current_user.show_content_titles %}checked{% endif %}>
                <span class="slider"></span>
            </label>
            <span class="setting-description">Display Page-Titles on all Pages</span>
        </div>

        <h2>OTP Container Settings</h2>
        <div class="form-item">
            <label class="toggle-switch">
                <input type="checkbox" id="showTimer" name="show_timer" {% if current_user.show_timer %}checked{% endif %}>
                <span class="slider"></span>
            </label>
            <span class="setting-description">Show a simple Text only timer instead of the Progress Bar</span>
        </div>
        <div class="form-item">
            <label class="toggle-switch">
                <input type="checkbox" id="showOtpType" name="show_otp_type" {% if current_user.show_otp_type %}checked{% endif %}>
                <span class="slider"></span>
            </label>
            <span class="setting-description">Show the type of OTP in the OTP-List</span>
        </div>
        <div class="form-item">
            <label class="toggle-switch">
                <input type="checkbox" id="showEmails" name="show_emails" {% if current_user.show_emails %}checked{% endif %}>
                <span class="slider"></span>
            </label>
            <span class="setting-description">Show Emails in the OTP-List</span>
        </div>

        <h2>Theme Settings</h2>
        <div class="form-item">
            <div id="colorPalette">
                <!-- Light Pastel Colors -->
                <div class="colorSwatch" data-color="#FFB3BA" style="background-color: #FFB3BA;"></div> <!-- Pastel Red -->
                <div class="colorSwatch" data-color="#FFDFBA" style="background-color: #FFDFBA;"></div> <!-- Pastel Orange -->
                <div class="colorSwatch" data-color="#FFFFBA" style="background-color: #FFFFBA;"></div> <!-- Pastel Yellow -->
                <div class="colorSwatch" data-color="#BAFFC9" style="background-color: #BAFFC9;"></div> <!-- Pastel Green -->
                <div class="colorSwatch" data-color="#BAE1FF" style="background-color: #BAE1FF;"></div> <!-- Pastel Blue -->
                <div class="colorSwatch" data-color="#D9BAFF" style="background-color: #D9BAFF;"></div> <!-- Pastel Purple -->
                <div class="colorSwatch" data-color="#FFB3FF" style="background-color: #FFB3FF;"></div> <!-- Pastel Pink -->
                <div class="colorSwatch" data-color="#CFCFCF" style="background-color: #CFCFCF;"></div> <!-- Light Gray -->
                <div class="colorSwatch" data-color="#B3FFFF" style="background-color: #B3FFFF;"></div> <!-- Pastel Cyan -->
                <div class="colorSwatch" data-color="#FFE4E1" style="background-color: #FFE4E1;"></div> <!-- Light Coral -->
                <div class="colorSwatch" data-color="#E6E6FA" style="background-color: #E6E6FA;"></div> <!-- Lavender -->
                <div class="colorSwatch" data-color="#FFFACD" style="background-color: #FFFACD;"></div> <!-- Lemon Chiffon -->
                <div class="colorSwatch" data-color="#FAFAD2" style="background-color: #FAFAD2;"></div> <!-- Light Goldenrod -->
            
                <div class="colorSwatch" data-color="#8E8D8A" style="background-color: #8E8D8A;"></div> <!-- Warm Gray -->
                <div class="colorSwatch" data-color="#A59C94" style="background-color: #A59C94;"></div> <!-- Pastel Brown -->
                <div class="colorSwatch" data-color="#7F8283" style="background-color: #7F8283;"></div> <!-- Pastel Gray -->
                <div class="colorSwatch" data-color="#7A9E9F" style="background-color: #7A9E9F;"></div> <!-- Pastel Teal -->
                <div class="colorSwatch" data-color="#8DA399" style="background-color: #8DA399;"></div> <!-- Pastel Olive -->
                <div class="colorSwatch" data-color="#B39DDB" style="background-color: #B39DDB;"></div> <!-- Soft Violet -->
                <div class="colorSwatch" data-color="#B0A8B9" style="background-color: #B0A8B9;"></div> <!-- Pastel Purple-Gray -->
                <div class="colorSwatch" data-color="#CCB7AE" style="background-color: #CCB7AE;"></div> <!-- Pastel Peach -->
                <div class="colorSwatch" data-color="#B2AD8E" style="background-color: #B2AD8E;"></div> <!-- Muted Olive -->
                <div class="colorSwatch" data-color="#8D8468" style="background-color: #8D8468;"></div> <!-- Dark Pastel Tan -->
            
                <div class="colorSwatch" data-color="#333333" style="background-color: #333333;"></div> <!-- Dark Gray -->
            </div>                              
            <input type="hidden" id="alertColor" name="alert_color" value="{{ alert_color }}">
        </div>
        <p>This setting allows you to customize the color theme of your interface.</p>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<div id="toast-container" aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('.form-container');
        form.addEventListener('submit', function(event) {
            event.preventDefault(); 

            var formData = new FormData(form);
            var object = {};
            formData.forEach(function(value, key) {
                object[key] = value;
            });
            var json = JSON.stringify(object);

            fetch('/settings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: json
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if(data.success) {
                    showToast("Settings updated successfully!");
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    });

    function showToast(message) {
        let toast = document.createElement('div');
        toast.className = 'toast';
        toast.innerText = message;
        document.getElementById('toast-container').appendChild(toast);

        setTimeout(() => { toast.classList.add('show'); }, 100);

        setTimeout(() => { toast.classList.remove('show'); }, 5000);

        toast.addEventListener('transitionend', function() {
            if (!toast.classList.contains('show')) {
                toast.remove();
            }
        });
    }

    function setColor(color) {
        document.getElementById('alertColor').value = color;
        document.querySelectorAll('.colorSwatch').forEach(function(swatch) {
            swatch.classList.remove('selected');
            swatch.classList.remove('glow');
        });
        var selectedSwatch = document.querySelector('.colorSwatch[data-color="' + color + '"]');
        selectedSwatch.classList.add('selected');
        selectedSwatch.classList.add('glow');
    }

    document.querySelectorAll('.colorSwatch').forEach(function(swatch) {
        swatch.addEventListener('click', function() {
            setColor(this.dataset.color);

            document.querySelectorAll('.colorSwatch').forEach(function(swatch) {
                swatch.style.border = '1px solid #000'; 
            });
            this.style.border = '2px solid #FFF'; 
        });
    });

    window.onload = function() {
        var selectedColor = document.getElementById('alertColor').value;
        setColor(selectedColor);
    };
</script>
{% endblock %}
