{% extends 'bootstrap/base.html' %}

{% block title %} User Settings {% endblock %}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #222222;
            color: #FFF;
            margin: 0;
            padding: 0;
            height: 70vh; 
            max-height: 70vh; 
            overflow: auto;
        }

        .navbar {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        }

        .navbar-dark .navbar-brand {
            color: #f1f1f1;
            font-size: 1.5rem;
            margin-right: 20px;
            transition: color 0.3s;
        }

        .navbar-dark .navbar-brand:hover {
            color: #CD5C5C;
        }

        @keyframes scaleFadeIn {
            0% {
                transform: scale(0.95);
            }
            100% {
                transform: scale(1);
            }
        }

        .settings-container {
            padding: 15px;
            margin: auto;
            width: 50%;
            background-color: #333333;
            border-radius: 20px;
            animation: scaleFadeIn 0.8s ease-in-out;
            max-height: calc(150vh - 60px - 20px); 
            overflow: auto;
        }

        .d-flex {
            display: flex;
        }

        .justify-content-center {
            justify-content: center;
        }

        .settings-container label, .settings-container button {
            color: #FFF;
            margin: 15px;
        }

        h1 {
            margin: 20px 0;
            font-weight: 700;
        }

        .form-check {
            font-weight: 300;
        }

        .toggle-switch {
            position: relative;
            width: 60px;
            height: 28px;
            display: inline-block;
        }

        .toggle-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ccc;
            border-radius: 28px;
            transition: background-color 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }

        .slider:before {
            content: "";
            position: absolute;
            left: 2px;
            top: 2px;
            width: 24px;
            height: 24px;
            background-color: white;
            border-radius: 50%;
            transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }

        input[type="checkbox"]:checked + .slider {
            background-color: #7852ff;
        }

        input[type="checkbox"]:checked + .slider:before {
            transform: translateX(32px);
        }


        .navbar {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        }

        .navbar-dark .navbar-brand {
            color: #f1f1f1;
            font-size: 1.5rem;
            margin-right: 20px;
            transition: color 0.3s;
        }

        .navbar-dark .navbar-brand:hover {
            color: #CD5C5C;
        }

        #logoutContainer {
            display: flex;
            align-items: center;
            justify-content: flex-end; 
        }

        #logoutBtn {
            position: absolute;
            right: -1px; 
            top: 0.1px;
            cursor: pointer;
        }

        #logoutBtn a {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center; 
            padding: 4px 12px;
            font-size: 1.4rem; 
            background-color: #CD5C5C;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            width: 100px; 
            height: 40px; 
        }

        #logoutBtn a:hover {
            background-color: #E68A89;
        }

        #logoutBtn a i.material-icons-outlined {
            font-size: 18px; 
            margin-left: 8px; 
        }

        .form-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .form-item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .setting-description {
            margin-left: 15px;
        }

        #flash-message {
            position: absolute;
            top: 70px;
            max-width: 500px;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 15px;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: red;
            color: white;
        }

        .colorSwatch {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 1px solid #000;
            cursor: pointer;
            border-radius: 6px;
        }

        #toast-container {
            position: fixed;
            top: 20px;
            left: 20px; 
            z-index: 9999; 
            max-width: 250px; 
        }

        .toast {
            background-color: #333;
            color: white;
            padding: 10px; 
            border-radius: 5px;
            margin-bottom: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: opacity 0.5s, transform 0.5s;
            transform: translateX(-100%);
        }

        .toast.show {
            opacity: 1;
            transform: translateX(0);
        }

        .toast-header {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .toast-body {
            font-size: 14px;
            line-height: 1.5;
        }

        @media screen and (max-width: 768px) {
        .settings-container {
            width: 80%; /* Adjust the width on smaller screens */
            padding: 20px; /* Reduce padding for more space */
            overflow-y: auto; /* Allow vertical scrolling */
        }

        .form-container {
            width: 100%; /* Ensure the form uses full container width */
        }

        .form-item {
            flex-direction: column; /* Stack form items vertically */
            align-items: flex-start; /* Align items to the start */
        }

        .toggle-switch + .setting-description {
            margin-top: 10px; /* Add space between switch and its description */
            margin-left: 0; /* Reset left margin */
        }

        h1, h2 {
            font-size: 1.2rem; /* Adjust heading sizes for better readability */
        }

        .form-item label, .settings-container button {
            font-size: 0.9rem; /* Adjust font size for smaller elements */
        }
    }
    @media screen and (max-width: 480px) {
        .settings-container {
            width: 95%; /* Use almost full width for very small screens */
        }
    }
    </style>
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="settings-container">
    <h1 class="text-center">User Settings</h1>

    <form method="post" class="form-container">
        <h2>General Settings</h2>
        <div class="form-item">
            <label class="toggle-switch">
                <input type="checkbox" id="showContentTitles" name="show_content_titles" {% if current_user.show_content_titles %}checked{% endif %}>
                <span class="slider"></span>
            </label>
            <span class="setting-description">Show Content Titles</span>
        </div>

        <h2>OTP Container Settings</h2>
        <div class="form-item">
            <label class="toggle-switch">
                <input type="checkbox" id="showTimer" name="show_timer" {% if current_user.show_timer %}checked{% endif %}>
                <span class="slider"></span>
            </label>
            <span class="setting-description">Show Timer instead of Progress Bar</span>
        </div>
        <div class="form-item">
            <label class="toggle-switch">
                <input type="checkbox" id="showOtpType" name="show_otp_type" {% if current_user.show_otp_type %}checked{% endif %}>
                <span class="slider"></span>
            </label>
            <span class="setting-description">Show OTP Type in Home Menu</span>
        </div>
        <div class="form-item">
            <label class="toggle-switch">
                <input type="checkbox" id="showEmails" name="show_emails" {% if current_user.show_emails %}checked{% endif %}>
                <span class="slider"></span>
            </label>
            <span class="setting-description">Show Emails</span>
        </div>

        <h2>Theme Settings</h2>
        <div class="form-item">
            <label>OTP-Color</label>
            <div id="colorPalette">
                <div class="colorSwatch" data-color="#333333" style="background-color: #333333;"></div>
                <div class="colorSwatch" data-color="#ffffff" style="background-color: #ffffff;"></div>
                <div class="colorSwatch" data-color="#2c2c54" style="background-color: #2c2c54;"></div>
                <div class="colorSwatch" data-color="#40407a" style="background-color: #40407a;"></div>
                <div class="colorSwatch" data-color="#474787" style="background-color: #474787;"></div>
                <div class="colorSwatch" data-color="#706fd3" style="background-color: #706fd3;"></div>
                <div class="colorSwatch" data-color="#9495df" style="background-color: #9495df;"></div>
                <div class="colorSwatch" data-color="#2f3542" style="background-color: #2f3542;"></div>
                <div class="colorSwatch" data-color="#57606f" style="background-color: #57606f;"></div>
                <div class="colorSwatch" data-color="#3e4637" style="background-color: #3e4637;"></div>
                <div class="colorSwatch" data-color="#292d26" style="background-color: #292d26;"></div>
                <div class="colorSwatch" data-color="#1b2e4b" style="background-color: #1b2e4b;"></div>
            </div>
            <input type="hidden" id="alertColor" name="alert_color" value="{{ alert_color }}">
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>

<div id="toast-container" aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('.form-container');
        form.addEventListener('submit', function(event) {
            event.preventDefault(); 

            var formData = new FormData(form);
            var object = {};
            formData.forEach(function(value, key) {
                object[key] = value;
            });
            var json = JSON.stringify(object);

            fetch('/settings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: json
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if(data.success) {
                    showToast("Settings updated successfully!");
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    });

    function showToast(message) {
        let toast = document.createElement('div');
        toast.className = 'toast';
        toast.innerText = message;
        document.getElementById('toast-container').appendChild(toast);

        setTimeout(() => { toast.classList.add('show'); }, 100);

        setTimeout(() => { toast.classList.remove('show'); }, 5000);

        toast.addEventListener('transitionend', function() {
            if (!toast.classList.contains('show')) {
                toast.remove();
            }
        });
    }

    function setColor(color) {
        document.getElementById('alertColor').value = color;
        document.querySelectorAll('.colorSwatch').forEach(function(swatch) {
            swatch.classList.remove('selected');
            swatch.classList.remove('glow');
        });
        var selectedSwatch = document.querySelector('.colorSwatch[data-color="' + color + '"]');
        selectedSwatch.classList.add('selected');
        selectedSwatch.classList.add('glow');
    }

    document.querySelectorAll('.colorSwatch').forEach(function(swatch) {
        swatch.addEventListener('click', function() {
            setColor(this.dataset.color);

            document.querySelectorAll('.colorSwatch').forEach(function(swatch) {
                swatch.style.border = '1px solid #000'; 
            });
            this.style.border = '2px solid #FFF'; 
        });
    });

    window.onload = function() {
        var selectedColor = document.getElementById('alertColor').value;
        setColor(selectedColor);
    };
</script>
{% endblock %}
