{% extends 'bootstrap/base.html' %}

{% block title %} Live Logs {% endblock %}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #222222;
            color: #FFF;
            margin: 0;
            padding: 0;
        }

        .navbar {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        }

        .navbar-dark .navbar-brand {
            color: #f1f1f1;
            font-size: 1.5rem;
            margin-right: 20px;
            transition: color 0.3s;
        }

        .navbar-dark .navbar-brand:hover {
            color: #CD5C5C;
        }

        .settings-container {
            padding: 30px;
            margin: auto;
            width: 50%;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
            background-color: #252526;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
        }

        .d-flex {
            display: flex;
        }

        .justify-content-center {
            justify-content: center;
        }

        .settings-container label, .settings-container button {
            color: #FFF;
            margin: 15px;
        }

        h1 {
            margin: 20px 0;
            font-weight: 700;
        }

        .form-check {
            font-weight: 300;
        }

        .toggle-switch {
            position: relative;
            width: 60px;
            height: 28px;
            display: inline-block;
        }

        .toggle-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ccc;
            border-radius: 28px;
            transition: all 0.4s ease;
        }

        .slider:before {
            content: "";
            position: absolute;
            left: 2px;
            top: 2px;
            width: 24px;
            height: 24px;
            background-color: white;
            border-radius: 50%;
            transition: all 0.4s ease;
        }

        input[type="checkbox"]:checked + .slider {
            background-color: #2196F3;
        }

        input[type="checkbox"]:checked + .slider:before {
            transform: translateX(32px);
        }

        .navbar {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        }

        .navbar-dark .navbar-brand {
            color: #f1f1f1;
            font-size: 1.5rem;
            margin-right: 20px;
            transition: color 0.3s;
        }

        .navbar-dark .navbar-brand:hover {
            color: #CD5C5C;
        }

        #logoutContainer {
            display: flex;
            align-items: center;
            justify-content: flex-end; 
        }

        #logoutBtn {
            position: absolute;
            right: -1px; 
            top: 0.1px;
            cursor: pointer;
        }

        #logoutBtn a {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center; 
            padding: 4px 12px;
            font-size: 1.4rem; 
            background-color: #CD5C5C;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            width: 100px; 
            height: 40px; 
        }

        #logoutBtn a:hover {
            background-color: #E68A89;
        }

        #logoutBtn a i.material-icons-outlined {
            font-size: 18px; 
            margin-left: 8px; 
        }
    </style>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('home') }}">Home</a> 
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('add') }}">Add</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('view_logs') }}">Logs</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('admin.admin_settings') }}">Settings</a>
    </div>    
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
    </div>
    <div class="navbar-nav mr-auto">
        <a class="navbar-brand" href="{{ url_for('settings') }}">
            <i class="material-icons-outlined">settings</i> 
        </a>
    </div>   
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="navbar-nav ml-auto">
                <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
                    {{ messages[0] }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    
    <div id="logoutContainer">
        <div id="logoutBtn">
            <a class="navbar-brand" href="{{ url_for('logout') }}">
                Logout
                <i class="material-icons-outlined">logout</i>
            </a>
        </div>                    
    </div>            
</nav>
{% endblock %}

{% block content %}
<div class="settings-container">
    <div class="d-flex justify-content-center">
        <h1>User Settings</h1>
    </div>

    <form method="post" class="d-flex flex-column justify-content-center"> 
        <div class="d-flex justify-content-center align-items-center">
            <label class="toggle-switch">
                <input type="checkbox" name="enable_pagination" {% if enable_pagination %}checked{% endif %}>
                <span class="slider"></span>
            </label>
            <span> Enable Pages</span>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>
{% endblock %}