{% extends 'bootstrap/base.html' %}
{% block title %}User Management{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/user-settings.css') }}">  
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endwith %}
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Deletion</h5>
            </div>
            <div class="modal-body">
                <p>Type "confirm" to delete the user:</p>
                <input type="text" class="form-control" id="deleteConfirmationInput">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="floating-add-user-button">
        <button type="button" class="btn btn-add" data-toggle="modal" data-target="#addUserModal">
            Add a new user
        </button>
    </div>
</div>

        <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {{ user_form.hidden_tag() }}
                            <div class="form-group">
                                {{ user_form.username.label }}
                                {{ user_form.username(class="form-control", placeholder="Enter a cool username") }}
                            </div>
                            <div class="form-group">
                                {{ user_form.password.label }}
                                {{ user_form.password(class="form-control", placeholder="Enter a secure password") }}
                            </div>
                            <div class="form-group">
                                {{ user_form.submit(class="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="user-list">
            <h2>Existing Users</h2>
            <div class="user-grid">
                {% for user in users %}
                <div class="user-card">
                    <div class="user-info">
                        {{ user[1] }} {% if user[2] %} (Admin) {% endif %}
                    </div>
                    <div class="user-actions">
                        <form action="{{ url_for('admin.delete_user', user_id=user[0]) }}" method="POST" class="action-form">
                            <button type="button" class="btn btn-danger delete-user-btn" data-user-id="{{ user[0] }}" data-toggle="modal" data-target="#confirmDeleteModal" draggable="false">
                                <span class="material-symbols-outlined">delete_forever</span>
                            </button>                            
                        </form>                        
                        <a href="{{ url_for('admin.toggle_admin', user_id=user[0]) }}" class="btn btn-warning" draggable="false">
                            <span class="material-symbols-outlined">admin_panel_settings</span>
                        </a>
                        <button type="button" class="btn btn-secondary reset-password-btn" data-user-id="{{ user[0] }}" data-toggle="modal" data-target="#passwordResetModal">
                            <span class="material-symbols-outlined">password</span>
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>        
    </div>
</div>

<div class="modal fade" id="passwordResetModal" tabindex="-1" role="dialog" aria-labelledby="passwordResetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordResetModalLabel">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="passwordResetForm">
                    <input type="hidden" id="userIdToReset" name="user_id" value="">
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="new_password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var userCards = document.querySelectorAll('.user-card');
        userCards.forEach(function(card, index) {
            var delay = (index + 1) * 0.1; 
            card.style.animationDelay = delay + 's';
        });

        var confirmDeleteButton = document.getElementById('confirmDeleteButton');
        var deleteConfirmationInput = document.getElementById('deleteConfirmationInput');
        var userIdToDelete = null;

        document.querySelectorAll('.delete-user-btn').forEach(function(button) {
            button.addEventListener('click', function() {
                userIdToDelete = button.getAttribute('data-user-id');
            });
        });

        var passwordResetModal = $('#passwordResetModal');

        button.addEventListener('click', function(event) {
            event.stopPropagation();
            var userId = button.getAttribute('data-user-id');
            document.getElementById('userIdToReset').value = userId;
            passwordResetModal.modal('show');
        });

        document.querySelectorAll('.reset-password-btn').forEach(function(button) {
            button.addEventListener('click', function() {
                var userId = button.getAttribute('data-user-id');
                document.getElementById('userIdToReset').value = userId;

                passwordResetModal.modal('show');  // Open the modal
            });
        });

        document.getElementById('passwordResetForm').addEventListener('submit', function(event) {
            event.preventDefault();

            var formData = new FormData(this);
            fetch('/admin/reset_password', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Password reset successfully');
                    passwordResetModal.modal('hide');  // Hide the modal after successful operation
                } else {
                    alert('Error resetting password');
                }
            })
            .catch(error => {
                alert('Error: ' + error);
            });
        });

        confirmDeleteButton.addEventListener('click', function() {
            if (deleteConfirmationInput.value.toLowerCase() === 'confirm') {
                fetch('/admin/delete_user/' + userIdToDelete, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.reload();
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => {
                    alert('Error: ' + error);
                });
            } else {
                alert('Please type "confirm" to proceed with deletion.');
            }
        });
    });
</script>

{% endblock %}
