{% extends 'bootstrap/base.html' %}

{% block title %}View OTP Code{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/otp_view.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="title">OTP Code</div>
    <div class="otp-info">
        <p id="otp-code" class="clickable-otp">Current OTP Code: <span class="otp-number">Loading...</span></p>
    </div>
    <div class="progress">
        <div class="progress-bar" id="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="30">
            <span class="progress-text" id="progress-text"></span>
        </div>
    </div>
    <div class="button-container">
        <a href="{{ url_for('home') }}" class="btn btn-primary">Home</a>
        <a href="{{ url_for('add') }}" class="btn btn-secondary">Add another Secret</a>
    </div>    
</div>

<div class="flash-message-container" id="flash-message-container"></div>
<div class="copy-hint" id="copy-hint">
    <i class="material-icons-outlined info-icon">info</i>
    Press Ctrl + C (⌘ + C on Mac) to copy the code!
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    let flashTriggered = false; 

    document.getElementById('otp-code').addEventListener('click', async function() {
        const otpCodeText = this.querySelector('.otp-number').innerText;  
        try {
            await navigator.clipboard.writeText(otpCodeText);
                if (!flashTriggered) {
                    triggerFlashMessage();
                    flashTriggered = true;
                }
        } catch (err) {
            console.error('Clipboard API failed, using fallback:', err);
            copyTextToClipboard(otpCodeText);
        }
    });

    document.addEventListener('keydown', async function(event) {
        if ((event.ctrlKey || event.metaKey) && event.key === 'c') {
            event.preventDefault();
            const otpCodeText = document.querySelector('#otp-code .otp-number').innerText;
            try {
                await navigator.clipboard.writeText(otpCodeText);
                if (!flashTriggered) {
                    triggerFlashMessage();
                    flashTriggered = true;
                }
            } catch (err) {
                console.error('Clipboard API failed, using fallback:', err);
                copyTextToClipboard(otpCodeText);
            }
        }
    });

    function triggerFlashMessage() {
        const flashContainer = document.getElementById('flash-message-container');
        const flashMessage = document.createElement('div');
        flashMessage.classList.add('flash-message');
        flashContainer.appendChild(flashMessage);
        flashContainer.style.display = 'block';

        setTimeout(() => {
            flashMessage.remove();
            if (flashContainer.children.length === 0) {
                flashContainer.style.display = 'none';
            }
            flashTriggered = false; 
        }, 3000);
        
        fetch('/copy_otp_flash').then(response => {
            console.log('Flash message triggered');
        });
    }

    function copyTextToClipboard(text) {
        console.log('Attempting to copy using fallback method');
        const textArea = document.createElement("textarea");
        textArea.value = text;
        document.body.appendChild(textArea);
        textArea.style.position = "fixed";
        textArea.style.left = "-999999px";
        textArea.style.top = "-999999px";
        textArea.focus();
        textArea.select();
        try {
            if (document.execCommand('copy')) {
                console.log('Fallback: Copying text command was successful');
                if (!flashTriggered) {
                    triggerFlashMessage();
                    flashTriggered = true;
                }
            }
        } catch (err) {
            console.error('Fallback: Oops, unable to copy', err);
        }
        document.body.removeChild(textArea);
    }

    function refreshOTP() {
        const otpCodeSpan = document.querySelector('#otp-code .otp-number');
        fetch('/refresh_specific_code?name={{ secret.name }}')
            .then(response => response.json())
            .then(data => {
                otpCodeSpan.innerText = data.otp_code.current_otp;
            })
            .catch(error => {
                console.error('Error:', error);
                otpCodeSpan.innerText = 'Failed to load OTP';
            });
    }

    document.addEventListener('DOMContentLoaded', function() {
        setInterval(refreshOTP, 900);  
        setInterval(updateProgressBar, 1000);
    });

    const progressBar = document.getElementById('progress-bar');
    const progressText = document.getElementById('progress-text');
    function updateProgressBar() {
        let seconds = new Date().getSeconds();
        let remainingSeconds = 30 - seconds % 30;
        progressBar.style.width = (remainingSeconds / 30 * 100) + '%';
        progressBar.setAttribute('aria-valuenow', remainingSeconds);
        progressText.innerText = remainingSeconds + 's';
    }
</script>
{% endblock %}