body {
    background-color: #222;
    color: #fff;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-brand {
    color: #f1f1f1;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-dark .navbar-brand:hover {
    color: #CD5C5C;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 50px;
}

.form-container {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    background: #333;
    animation: floatIn 1s ease-in-out;
}

.form-title {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.form-control {
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

.form-control::-webkit-select-placeholder {
    color: #aaa;
}

.form-submit {
    margin-top: 20px;
}

.text-danger {
    color: #ff6b6b;
}

.form-control:read-only {
    background-color: #444444;
    color: #F5F5F5;
}

.form-control:focus {
    border-color: rgba(138, 43, 226, 0.2);  
    box-shadow: 0 0 0 0.2rem rgba(138, 43, 226, 0.2); 
    animation: circleHue 2s ease infinite;
  }

.form-control:read-only:hover::after {
    content: "Read Only";
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.form-group-with-icon {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; 
}

.form-group-with-icon label {
    flex: 0 0 auto;
    width: 100px; 
    margin-right: 20px;
}

.form-group-with-icon .form-control {
    flex: 1 0 auto;
    min-width: 200px;
    max-width: calc(100% - 140px); 
}

.validation-icon {
    flex: 0 0 auto; 
    margin-left: 10px;
    display: none;
}

select.form-control {
    background-color: #555; 
    color: #fff; 
}

select.form-control option {
    background-color: #444; 
    color: #fff; 
}

.error-messages {
    margin-top: 20px;
    max-height: 50px;
    overflow-y: auto;
    width: 100%
}

#logoutContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#logoutBtn {
    position: absolute;
    right: -1px; 
    top: 0.1px;
    cursor: pointer;
}

#logoutBtn a {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 4px 12px;
    font-size: 1.4rem; 
    background-color: #CD5C5C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100px; 
    height: 40px; 
}

#logoutBtn a:hover {
    background-color: #B94A4A;
}

#logoutBtn a i.material-icons-outlined {
    font-size: 18px; 
    margin-left: 8px; 
}

@keyframes floatIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }  

  @keyframes circleHue {
    0%, 100% {
      box-shadow: 0 0 0 0.2rem rgba(138, 43, 226, 0);
    }
    50% {
      box-shadow: 0 0 0 0.2rem rgba(138, 43, 226, 0.2);
    }
  }
   
