body {
    background-color: #fff;
    color: #333;
    font-family: 'Poppins', 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 10px;
}

.form-container {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background: #fcfbfb;
    border: 1px solid #ccc;
    animation: fadeInScale 0.8s ease-in-out;
    margin-top: 20px;
}

.form-title {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.form-control {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.05);
    color: #333;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 0 rgba(138, 43, 226, 0);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control::-webkit-select-placeholder {
    color: #666;
}

.form-submit {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
    background-color: #eee;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.form-submit:hover, .form-submit:focus {
    background-color: #ddd;
    color: #333;
    border-color: #bbb;
}

.form-submit:active {
    background-color: #10d60f !important;
    color: #fff;
    border-color: #10d60f !important;
}

.text-danger {
    color: #ff6b6b;
}

.form-control:read-only {
    background-color: #f5f5f5;
    color: #333;
}

.form-control:focus {
    border-color: rgba(0,123,255,0.2);
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.2);
    animation: subtleScale 0.5s ease-out forwards;
    transition: box-shadow 0.3s ease;
}

@keyframes subtleScale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.02);
        border-color: #cce5ff;
    }
}

.clickable-icon {
    cursor: pointer;
}

.form-control:read-only:hover::after {
    content: "Read Only";
    position: absolute;
    background-color: #fff;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.form-group-with-icon {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.form-group-with-icon label {
    flex: 0 0 auto;
    width: 100px;
    margin-right: 20px;
}

.form-group-with-icon .form-control {
    flex: 1 0 auto;
    min-width: 200px;
    max-width: calc(100% - 140px);
}

.validation-icon {
    flex: 0 0 auto;
    margin-left: 10px;
    display: none;
    color: #10d60f;
}

.is-invalid {
    color: #ff5252;
}

select.form-control {
    background-color: #fff;
    color: #333;
}

select.form-control option {
    background-color: #fff;
    color: #333;
}

.error-messages {
    margin-top: 20px;
    max-height: 50px;
    overflow-y: auto;
    width: 100%;
}

@keyframes fadeInScale {
    0% {
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-content {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    padding: 15px;
    display: inline-block;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin-bottom: 0;
}

.modal-header .close {
    color: #666;
    padding: 0;
    margin: 0 0 0 auto;
}

.modal-dialog {
    margin: 30vh auto;
    max-width: none;
}

.modal-body {
    padding: 10px;
    overflow-y: auto;
}

.modal-content .modal-header .modal-title {
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container button {
    flex-grow: 1;
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.button-container .btn-primary {
    background: linear-gradient(45deg, #007bff, #66b3ff);
    color: white;
}

.button-container .btn-primary:hover {
    background: linear-gradient(45deg, #0056b3, #3399ff);
}

.button-container .btn-primary:active {
    background: linear-gradient(45deg, #004494, #2678cc);
    transform: scale(0.95);
}

.button-container .btn-secondary {
    background: linear-gradient(45deg, #9b79b4, #bba0c9);
    color: white;
}

.button-container .btn-secondary:hover {
    background: linear-gradient(45deg, #ad8abf, #d1b9e1);
}

.button-container .btn-secondary:active {
    background: linear-gradient(45deg, #8a6ba0, #a68fb8);
    transform: scale(0.95);
}
body.dark-mode {
    background-color: #181818;
    color: #fff;
    font-family: 'Poppins', 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.dark-mode .center-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 10px;
}

.dark-mode .form-container {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background: #333;
    border: 1px solid #444;
    animation: fadeInScale 0.8s ease-in-out;
    color: #fff;
    margin-top: 20px;
}

.dark-mode .form-title {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.dark-mode .form-control {
    border-radius: 5px;
    background: #444;
    color: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 0 0 rgba(138, 43, 226, 0);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.dark-mode .form-control::-webkit-select-placeholder {
    color: #aaa;
}

.dark-mode .form-submit {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
    background-color: #555;
    color: #fff;
    border: 1px solid #666;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.dark-mode .form-submit:hover,
.dark-mode .form-submit:focus {
    background-color: #666;
    color: #fff;
    border-color: #777;
}

.dark-mode .form-submit:active {
    background-color: #10d60f !important;
    color: #fff;
    border-color: #10d60f !important;
}

.dark-mode .text-danger {
    color: #ff6b6b;
}

.dark-mode .form-control:read-only {
    background-color: #555;
    color: #fff;
}

.dark-mode .form-control:focus {
    border-color: rgba(255,255,255,0.2);
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0.2);
    animation: subtleScale 0.5s ease-out forwards;
    transition: box-shadow 0.3s ease;
}

.dark-mode .clickable-icon {
    cursor: pointer;
}

.dark-mode .form-control:read-only:hover::after {
    content: "Read Only";
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.dark-mode .form-group-with-icon {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.dark-mode .form-group-with-icon label {
    flex: 0 0 auto;
    width: 100px;
    margin-right: 20px;
}

.dark-mode .form-group-with-icon .form-control {
    flex: 1 0 auto;
    min-width: 200px;
    max-width: calc(100% - 140px);
}

.dark-mode .validation-icon {
    flex: 0 0 auto;
    margin-left: 10px;
    display: none;
    color: #10d60f;
}

.dark-mode .is-invalid {
    color: #ff5252;
}

.dark-mode select.form-control {
    background-color: #444;
    color: #fff;
}

.dark-mode select.form-control option {
    background-color: #444;
    color: #fff;
}

.dark-mode .error-messages {
    margin-top: 20px;
    max-height: 50px;
    overflow-y: auto;
    width: 100%;
}

.dark-mode .modal-content {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    display: inline-block;
}

.dark-mode .modal-header {
    border-bottom: none;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-mode .modal-title {
    margin-bottom: 0;
}

.dark-mode .modal-header .close {
    color: #aaa;
    padding: 0;
    margin: 0 0 0 auto;
}

.dark-mode .modal-dialog {
    margin: 30vh auto;
    max-width: none;
}

.dark-mode .modal-body {
    padding: 10px;
    overflow-y: auto;
}

.dark-mode .modal-content .modal-header .modal-title {
    color: #fff;
}

.dark-mode .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.dark-mode .button-container button {
    flex-grow: 1;
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.dark-mode .button-container .btn-primary {
    background: linear-gradient(45deg, #0056b3, #3399ff);
    color: white;
}

.dark-mode .button-container .btn-primary:hover {
    background: linear-gradient(45deg, #004494, #2678cc);
}

.dark-mode .button-container .btn-primary:active {
    background: linear-gradient(45deg, #003377, #2055a0);
    transform: scale(0.95);
}

.dark-mode .button-container .btn-secondary {
    background: linear-gradient(45deg, #8a6ba0, #a68fb8);
    color: white;
}

.dark-mode .button-container .btn-secondary:hover {
    background: linear-gradient(45deg, #7a5a8b, #9380a0);
}

.dark-mode .button-container .btn-secondary:active {
    background: linear-gradient(45deg, #765a8a, #8e7ea0);
    transform: scale(0.95);
}
