body {
    background-color: #222;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.disabled {
    opacity: 0.5; 
    pointer-events: none; 
    cursor: not-allowed; 
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}

.navbar-dark .navbar-brand {
    color: #f1f1f1;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-dark .navbar-brand:hover {
    color: #CD5C5C;
}

.form-container {
    width: 48%; 
    padding: 20px;
    margin: 10px; 
    display: inline-block; 
    vertical-align: top; 
    margin-top: 0;
    padding-top: 0;
}

.form-title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #B3AEC6; 
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 25px;
}

.form-label {
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
}

.form-control {
    border-radius: 5px;
    font-size: 1rem; 
    padding: 5px;
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #333;
    color: #fff;
}

.form-control:focus {
    border-color: #CD5C5C; 
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

#logoutContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#logoutBtn {
    position: absolute;
    right: -1px; 
    top: 0.1px;
    cursor: pointer;
}

#logoutBtn a {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 4px 12px;
    font-size: 1.4rem; 
    background-color: #CD5C5C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100px; 
    height: 40px; 
}

#logoutBtn a:hover {
    background-color: #E68A89;
}

#logoutBtn a i.material-icons-outlined {
    font-size: 18px; 
    margin-left: 8px; 
}

.center-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 50px;
    gap: 20px;
    flex-wrap: nowrap; 
    min-height: 80vh; 
}

.management-card {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 40px;
    width: 40%;
    height: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    text-align: center;
    margin: 0 20px;
    animation: scaleFadeIn 0.5s ease forwards;
    animation-delay: 0.2s;
}

.management-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3), 0 0 15px #7D3C98;
    border-color: #7D3C98;
}

.management-card * {
    user-select: none;
}

@keyframes scaleFadeIn {
    to {
        transform: scale(1);
    }
}

.card-title {
    text-align: center;
    margin-bottom: 20;
    color: #ffffff;
}

.card-text {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

@media (max-width: 768px) {
    .center-content {
        flex-direction: column;
    }
    .management-card {
        width: 80%; 
        margin: 20px 0; 
    }
}
