body {
    background-color: #222;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}
.navbar-dark .navbar-brand {
    color: #f1f1f1;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: color 0.3s;
}
.navbar-dark .navbar-brand:hover {
    color: #CD5C5C;
}

.form-container {
    width: 48%; 
    padding: 20px;
    margin: 10px; 
    display: inline-block; 
    vertical-align: top; 
    margin-top: 0;
    padding-top: 0;
}

.form-title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #B3AEC6; 
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 25px;
}

.form-label {
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
}

.label-input-wrapper {
    text-align: center;
}

.form-control {
    border-radius: 5px;
    font-size: 1rem; 
    padding: 5px;
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #333;
    color: #fff;
}

.form-container,
.form-submit {
    margin-top: 20px;
    text-align: center;  
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item {
    background-color: #444;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 12px 16px; 
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.list-group-item:hover {
    background-color: #555; 
}

.btn-danger {
    margin-left: auto;
}
.btn-warning {
    margin-left: 10px;
}

.company-list-container {
    max-height: 375px;
    width: 300px; 
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #333;
    padding-right: 16px;
}

.company-list-container::-webkit-scrollbar {
    width: 8px;
}
.company-list-container::-webkit-scrollbar-track {
    background: #333;
}
.company-list-container::-webkit-scrollbar-thumb {
    background-color: #888;
}

.company-list-container,
.scrollable-container {
    max-height: 375px;
    width: 316px;  
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #333;
}

.scrollable-container::-webkit-scrollbar {
    width: 8px;
}
.scrollable-container::-webkit-scrollbar-track {
    background: #333;
}
.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #888;
}

.toast {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1100;
}

.form-container {
    animation: fadeIn 0.5s ease-in-out;
}

.form-control:focus {
    border-color: #CD5C5C; 
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.animated-fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#logoutContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#logoutBtn {
    position: absolute;
    right: -1px; 
    top: 0.1px;
    cursor: pointer;
}

#logoutBtn a {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 4px 12px;
    font-size: 1.4rem; 
    background-color: #CD5C5C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100px; 
    height: 40px; 
}

#logoutBtn a:hover {
    background-color: #B94A4A;
}

#logoutBtn a i.material-icons-outlined {
    font-size: 18px; 
    margin-left: 8px; 
}

.management-options {
    text-align: center;
    margin-top: 50px;
}

.management-options a {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    display: inline-block; 
}

.center-content {
    display: flex;
    justify-content: center; /* Align cards in a row */
    align-items: start; /* Align to the top */
    padding-top: 50px; /* Move closer to the top */
    gap: 20px; /* Add some space between the cards */
}

.management-card {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 40px; /* More padding for larger size */
    width: 40%; /* Increase width */
    height: 400px; /* Increase height */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    cursor: pointer; 
    background-color: #333;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    text-align: center;
    margin: 0 20px; /* Ensure some space between the cards */
    transform: scale(0.9); /* Start slightly smaller */
    opacity: 0; /* Start fully transparent */
    animation: scaleFadeIn 0.5s ease forwards; /* Apply the animation */
    animation-delay: 0.2s; /* Start the animation with a slight delay */
}

@keyframes scaleFadeIn {
    to {
        transform: scale(1); /* Scale to normal size */
        opacity: 1; /* Fade in to full opacity */
    }
}

.management-card:hover {
    transform: translateY(-10px); /* Move up slightly on hover */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    border-color: #7D3C98; /* Change border color on hover */
    /* Animated hue glow */
    box-shadow: 0 0 20px #9b59b6;
    border-color: #9b59b6;
}

.card-title {
    text-align: center;
    margin-bottom: 20;
    color: #ffffff;
}

.card-text {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none; 
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

@media (max-width: 768px) {
    .center-content {
        flex-direction: column;
    }
    .management-card {
        width: 80%; 
        margin: 20px 0; 
    }
}

.disabled {
    opacity: 0.5; /* Grays out the card */
    pointer-events: none; /* Disables clicking */
    cursor: default; /* Changes cursor to indicate non-interactive */
}