body {
    background-color: #222;
    color: #fff;
    font-size: 1rem; 
    font-family: 'Roboto', sans-serif;
}

.btn {
    margin-top: 20px; 
    padding: 5px 15px;
    background-color: #555;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn[title]:hover::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    transform: translateX(-50%);
    z-index: 1;
}

.btn[title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.75rem;
    z-index: 1;
    white-space: nowrap;
}

.company-card {
    background: #333;
    color: #f8f9fa;
    border: 1px solid #6c757d;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    animation: fadeInUp 0.5s ease-out forwards;
    opacity: 0; 
}

.company-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center; 
    grid-gap: 20px;
    padding: 20px 60px;
}

.company-list {
    padding: 20px 60px; 
}

.company-info {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    border: 1px solid #868e96;
    padding: 5px; 
    border-radius: 5px; 
}

.company-actions .btn {
    margin: 0 5px;
}

.company-actions {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.action-form {
    margin: 0;
}

.form-control {
    background-color: #444444;
    color: #f8f9fa;
    border: 1px solid #444444;
    max-width: 300px;
    margin: auto;
}

.form-control:focus {
    border-color: #adb5bd;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.btn-danger {
    background-color: #a94442;
    border-color: #a94442;
}

.btn-secondary {
    background-color: #355bcd;
    border-color: #355bcd;
    color: #f8f9fa;
}

.btn-success:hover, .btn-secondary:hover {
    background-color: #44abed;
    border-color: #44abed;
}

.btn-add {
    background-color: #355bcd;
    border-color: #355bcd;
    color: #f8f9fa;
}

.btn-add:hover {
    background-color: #44abed;
    border-color: #44abed;
}

.btn-close-custom {
    background-color: #355bcd; 
    color: #fff;
}

.btn-close-custom:hover {
    background-color: #44abed; 
}

.btn-delete-custom {
    background-color: #ff5252; 
    color: #fff;
}

.btn-delete-custom:hover {
    background-color: #ff5d51; 
}

.modal-dialog {
    max-width: 400px;
    margin: 1.75rem auto;
}

.modal-content {
    background-color: #333;
    color: #f8f9fa;
    border-radius: 15px;
}

.modal-header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 15px; 
    border-bottom: none;
}

.modal-title {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.5; 
    font-weight: bold;
    flex-grow: 1; 
}

.close {
    color: #fff;
    opacity: 1;
    padding: 0; 
    margin: 0; 
    border: 0; 
    background: none; 
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}

.modal-body {
    padding-top: 20px;
    padding: 20px;
    text-align: center; 
    font-size: 1.5rem; 
}

.close:hover {
    color: #ccc;
}

.form-control {
    background-color: #444444;
    color: #fff;
    border: none;
    box-shadow: none;
}

.form-control:focus {
    background-color: #444444;
    color: #fff;
}

.btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #f8f9fa;
}

.btn-primary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.close {
    color: #fff;
    opacity: 1;
}

.close:hover {
    color: #ccc;
}

.modal-footer {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    background: transparent; 
    border-top: none;
}

.modal-footer .btn {
    padding: 5px 15px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-company-button {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .company-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .company-grid {
        grid-template-columns: 1fr;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .company-grid {
        grid-template-columns: 1fr; 
    }
}

.alert {
    background-color: #333;
    color: #fff;
    border: 1px solid #6c757d;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.alert-dismissible .close {
    color: #fff;
    text-shadow: none;
    opacity: 1;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.large-button {
    padding: 10px 20px; 
    font-size: 1.3rem;
}

.form-label, label {
    font-size: 1.5rem; 
    color: #f8f9fa; 
    margin-bottom: .5rem; 
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.float-right {
    float: right;
}

@media (max-width: 991px) {
    .float-right {
        float: none;
    }
}