body {
    background-color: #222;
    color: #fff;
    font-size: 1rem; 
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px; 
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: white; 
}

.btn[title]:hover::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    transform: translateX(-50%);
    z-index: 1;
}

.btn[title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.75rem;
    z-index: 1;
    white-space: nowrap;
}

.company-card {
    background: #333;
    color: #f8f9fa;
    border: 1px solid #6c757d;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    animation: fadeInUp 0.5s ease-out forwards;
    opacity: 0; 
}

.company-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center; 
    grid-gap: 20px;
    padding: 20px 60px;
}

.company-list {
    padding: 20px 60px; 
}

.company-info {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    border: 1px solid #868e96;
    padding: 5px; 
    border-radius: 5px; 
}

.company-actions .btn {
    margin: 0 5px;
}

.company-actions {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.action-form {
    margin: 0;
}

.floating-add-user-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.form-control {
    background-color: #6c757d;
    color: #f8f9fa;
    border: 1px solid #868e96;
    max-width: 300px;
    margin: auto;
}

.form-control:focus {
    border-color: #adb5bd;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.btn-danger {
    background-color: #a94442;
    border-color: #a94442;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #f8f9fa;
}

.btn-success:hover, .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.modal-dialog {
    max-width: 400px; /* Increase the width of the modal */
    margin: 1.75rem auto;
}

.modal-content {
    background-color: #333;
    color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 15px; 
}

.modal-title {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.5; 
    font-weight: bold;
}

.close {
    color: #fff;
    opacity: 1;
    padding: 0; 
    margin: 0; 
}

.modal-body {
    padding: 20px;
    text-align: center; /* Center the text */
    font-size: 1.2rem; /* Increase font size */
}

.close:hover {
    color: #ccc;
}

.form-control {
    background-color: #484e53;
    color: #fff;
    border: none;
    box-shadow: none;
}

.form-control:focus {
    background-color: #5a6268;
    color: #fff;
}

.btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #f8f9fa;
}

.btn-primary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.close {
    color: #fff;
    opacity: 1;
}

.close:hover {
    color: #ccc;
}

.modal-footer {
    display: flex;
    justify-content: space-around; /* Aligns buttons side by side */
    border-top: none;
    padding: 20px;
}

.modal-footer .btn {
    padding: 6px 12px; /* Adjust padding */
    width: auto; /* Adjust width */
}

.add-company-button {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .company-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .company-grid {
        grid-template-columns: 1fr;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    .company-grid {
        grid-template-columns: 1fr; /* 1 column on smaller screens */
    }
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-brand {
    color: #f1f1f1;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-dark .navbar-brand:hover {
    color: #CD5C5C;
}

#logoutContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#logoutBtn {
    position: absolute;
    right: -1px; 
    top: 0.1px;
    cursor: pointer;
}

#logoutBtn a {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 4px 12px;
    font-size: 1.4rem; 
    background-color: #CD5C5C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100px; 
    height: 40px; 
}

#logoutBtn a:hover {
    background-color: #E68A89;
}

#logoutBtn a i.material-icons-outlined {
    font-size: 18px; 
    margin-left: 8px; 
}

.flash-messages {
    position: fixed;
    top: 70px; /* Adjust based on your navbar height */
    right: 20px;
    z-index: 1050;
    max-width: 300px;
}

.alert {
    background-color: #333;
    color: #fff;
    border: 1px solid #6c757d;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.alert-dismissible .close {
    color: #fff;
    text-shadow: none;
    opacity: 1;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.large-button {
    padding: 10px 20px; 
    font-size: 1.3rem;
}
