body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 20px;
}

.dashboard-container {
    max-width: 800px; 
    margin: auto;
}

header h1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

h1, h2 {
    color: #1de9b6;
}

section {
    background-color: #1c1c1c;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}

.input-group {
    display: flex; /* Changed to flex to align label and input side by side */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Space between label and input */
    margin-bottom: 20px;
}

input[type="color"],
input[type="range"] {
    width: 50%; /* Shorter width */
    padding: 10px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    color: white;
}

input[type="number"] {
    width: 20%; /* Adjust the width as needed */
    padding: 10px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    color: white;
}

button {
    background-color: #0d47a1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

button:hover {
    background-color: #1565c0;
}

.material-icons {
    font-size: 20px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7); /* Black w/ more opacity for darker look */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #222; /* Darker modal background */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #555; /* Slightly lighter border for a subtle contrast */
    width: 30%; /* Smaller width */
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); /* Add shadow for a more modal-like appearance */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal button {
    margin-right: 5px;
    font-size: 16px; /* Larger button text */
  }
  
  .system-backups {
    background-color: #1c1c1c;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center; /* Aligns text and inline elements like buttons to center */
    display: flex;
    align-items: center; /* Aligns flex items at the center of the container */
    display: flex;
    flex-direction: column; /* This ensures that children are stacked vertically */
    align-items: center; /* This will center the buttons and separator */
}

.separator {
    width: 100%; /* Set the width of the separator line */
    border: 0;
    border-top: 1px solid #666; /* Dark line for the separator */
    margin: 20px 0; /* Space above and below the separator */
}

.buttons-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 20px; /* Add some space between the buttons */
}

#backupList {
    list-style: none; /* Removes default list styling */
    padding: 0; /* Removes default padding */
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    justify-content: center; /* Center items on the main axis */
    gap: 10px; /* Space between list items */
}

#backupList li {
    background-color: #282c34; /* Slightly lighter than the section background */
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    width: calc(33.333% - 20px); /* Three items per row, accounting for gap */
    text-align: center; /* Center text within each list item */
    overflow: hidden; /* Ensures text doesn't overflow */
    text-overflow: ellipsis; /* Adds an ellipsis to text that overflows */
    white-space: nowrap; /* Keeps the text on a single line */
}

@media (max-width: 768px) {
    #backupList li {
        width: calc(50% - 20px); /* Two items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    #backupList li {
        width: 100%; /* One item per row on very small screens */
    }
}

input[type="color"] {
    width: 50px; /* smaller width */
    padding: 5px; /* smaller padding */
    margin: auto; /* center it */
    display: block;
}

.settings-divider {
    border: none;
    border-top: 1px solid #666; /* Dark line for the separator */
    margin: 10px 0; /* Space above and below the separator */
}

.settings-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.settings-column {
    flex: 1;
}

/* Make sure the last column does not have a margin on the right */
.settings-column:last-child {
    margin-right: 0;
}

.vertical-divider {
    width: 2px; /* Width of the divider line */
    height: calc(100% - 40px); /* Height is the full height of the parent minus padding */
    background-color: #666; /* Color of the divider line */
    margin: auto 20px; /* Centered margin with space on the sides */
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-brand {
    color: #f1f1f1;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-dark .navbar-brand:hover {
    color: #CD5C5C;
}

#logoutContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#logoutBtn {
    position: absolute;
    right: -1px; 
    top: 0.1px;
    cursor: pointer;
}

#logoutBtn a {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 4px 12px;
    font-size: 1.4rem; 
    background-color: #CD5C5C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100px; 
    height: 40px; 
}

#logoutBtn a:hover {
    background-color: #E68A89;
}

#logoutBtn a i.material-icons-outlined {
    font-size: 18px; 
    margin-left: 8px; 
}