body {
    font-family: 'Roboto', sans-serif;
    background-color: #222222;
    color: #FFF;
    margin: 0;
    padding: 0;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-brand {
    color: #f1f1f1;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-dark .navbar-brand:hover {
    color: #CD5C5C;
}

.logs-section {
    padding-top: 10px; 
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    opacity: 1;  
    transition: opacity 0.5s ease-in-out;
}


.logs-box {
    background-color: #252526;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-height: none; 
    overflow-y: auto;
}

#logs tr:nth-child(odd) {
    background-color: #3c3c3c; 
}

#logs tr:nth-child(even) {
    background-color: #323232;
}

#logs-table {
    width: 100%;
    table-layout: auto;
}

#logs-table th {
    white-space: nowrap;
}

#logs-table th:nth-child(1), 
#logs-table th:nth-child(2), 
#logs-table th:nth-child(3) { 
    width: 1%; 
}

.logs-box div {
    margin: 0;
    font-size: 0.875em;
    color: #fff;
    padding: 15px;
    white-space: pre-wrap;
}

.scroll-to-end-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    background-color: #CD5C5C;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.scroll-to-end-button:hover {
    background-color: #cd5c5c9f;
}

    #logoutContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#logoutBtn {
    position: absolute;
    right: -1px; 
    top: 0.1px;
    cursor: pointer;
}

#logoutBtn a {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 4px 12px;
    font-size: 1.4rem; 
    background-color: #CD5C5C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100px; 
    height: 40px; 
}

#logoutBtn a:hover {
    background-color: #B94A4A;
}

#logoutBtn a i.material-icons-outlined {
    font-size: 18px; 
    margin-left: 8px; 
}

@keyframes floatUpFromBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.error-log {
    color: #FF5555;
}
.info-log {
    color: #55AAFF;
}
.warning-log {
    color: #FFAA00;
}
.washed-purple-log {
    color: #b19cd9; 
}

.loading-animation {
    color: #FFF;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
}

.loading-dots {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
}

.loading-dots::after {
    content: '...'; 
    position: absolute;
    left: 0;
    animation: dots 1.5s steps(5, end) infinite;
}


@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
            .25em 0 0 rgba(0,0,0,0),
            .5em 0 0 rgba(0,0,0,0);
    }
    40% {
        color: white;
        text-shadow:
            .25em 0 0 rgba(0,0,0,0),
            .5em 0 0 rgba(0,0,0,0);
    }
    60% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 white;
    }
}