.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #1f1f1f;
}

.navbar-dark .navbar-brand {
    color: #f1f1f1;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-dark .navbar-brand:hover {
    color: #CD5C5C;
}

#logoutContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#logoutBtn {
    position: absolute;
    right: -1px; 
    top: 0.1px;
    cursor: pointer;
}

#logoutBtn a {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 4px 12px;
    font-size: 1.4rem; 
    background-color: #ff5252;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    width: 100px; 
    height: 40px; 
}

#logoutBtn a:hover {
    background-color: #ff5d51;
    color: #f1f1f1;
}

#logoutBtn a i.material-icons-outlined {
    font-size: 18px; 
    margin-left: 8px; 
}

.flash-messages {
    position: fixed;
    top: 70px; 
    right: 20px;
    z-index: 1050;
    max-width: 300px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spin-animation {
    animation: spin 0.5s ease-in-out;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink-animation {
    animation: blink 1s linear infinite;
}

#flash-messages-container {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 1000;
}

.flash-message {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
    /* Initial state before the animation starts */
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
    /* Animation */
    animation: fadeInSlideUp 0.5s ease forwards;
    transition: opacity 0.3s ease-in-out;
}

/* Define the keyframes for the fadeInSlideUp animation */
@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start below the final position */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the final position */
    }
}


.flash-info {
    background-color: #7852ff;
    border-color: #7852ff;
}

.flash-success {
    background-color: #59b259;
    border-color: #59b259;
}

.flash-warning {
    background-color: #f39c12;
    border-color: #f39c12;
}

.flash-error {
    background-color: #ff5252;
    border-color: #ff5252;
}

.flash-auth {
    background-color: #7852ff;
    border-color: #7852ff;
}

.flash-message .flash-icon {
    vertical-align: middle;
    margin-right: 10px;
}

.flash-close-btn {
    margin-left: 10px; /* Gives space between the message and the close button */
    cursor: pointer;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.2s;
    outline: none;
}

.flash-close-btn:hover {
    color: #000000;
}