/* server-settings.css */

body {
    background-color: #222; /* Adjust the color to match your theme */
    color: #fff;
    font-family: 'Roboto', sans-serif; /* This is an example; adjust the font as needed */
}

/* Container */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333; /* Dark theme background */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,.25); /* Optional: Adds a subtle shadow */
}

h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

/* Form styling */
.server-settings-form .form-group {
    margin-bottom: 20px;
}

.server-settings-form label {
    color: #ddd; /* Lighter text color for labels */
}

.server-settings-form .form-control {
    background-color: #484e53;
    color: #fff;
    border: 1px solid #6c757d;
    border-radius: 4px;
}

.server-settings-form .form-control:focus {
    background-color: #484e53;
    color: #fff;
    border-color: #95a5a6;
    outline: none; /* Removes the default focus outline */
    box-shadow: none; /* Optional: Remove if you want the Bootstrap shadow */
}

/* Buttons */
.server-settings-form .btn {
    width: 100%; /* Full width buttons */
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s; /* Smooth transition for hover effects */
}

.server-settings-form .btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}

.server-settings-form .btn-warning {
    background-color: #f1c40f;
    border-color: #f1c40f;
}

.server-settings-form .btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

/* Hover effects */
.server-settings-form .btn:hover {
    opacity: 0.9;
}

/* Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 15px;
        margin: 20px auto;
    }
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-brand {
    color: #f1f1f1;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-dark .navbar-brand:hover {
    color: #CD5C5C;
}

#logoutContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#logoutBtn {
    position: absolute;
    right: -1px; 
    top: 0.1px;
    cursor: pointer;
}

#logoutBtn a {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 4px 12px;
    font-size: 1.4rem; 
    background-color: #CD5C5C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100px; 
    height: 40px; 
}

#logoutBtn a:hover {
    background-color: #E68A89;
}

#logoutBtn a i.material-icons-outlined {
    font-size: 18px; 
    margin-left: 8px; 
}

.port-input {
    max-width: 80px; 
    text-align: center;
}

.floating-update-button {
    position: fixed; /* Fixed position */
    right: 20px; /* 20px from the right */
    bottom: 20px; /* 20px from the bottom */
    z-index: 1000; /* Ensure it's above other items */
    padding: 10px 20px; /* Padding for a larger click area */
    box-shadow: 0 4px 10px rgba(0,0,0,.25); /* Optional: Adds a subtle shadow */
}
