body {
    font-family: 'Poppins', 'Roboto', sans-serif; 
    background-color: #222222;
    color: #FFF;
    margin: 0;
    padding: 0;
    height: 70vh; 
    max-height: 70vh; 
    overflow: auto;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-brand {
    color: #f1f1f1;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-dark .navbar-brand:hover {
    color: #CD5C5C;
}

@keyframes scaleFadeIn {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.settings-container {
    padding: 15px;
    margin: auto;
    width: 50%; /* Default width */
    max-width: 600px; /* Max width limit for large screens */
    background-color: #333333;
    border-radius: 20px;
    animation: scaleFadeIn 0.8s ease-in-out;
    max-height: calc(150vh - 60px - 20px); 
    overflow: auto;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.settings-container label, .settings-container button {
    color: #FFF;
    margin: 15px;
}

h1 {
    margin: 20px 0;
    font-weight: 700;
}

.form-check {
    font-weight: 300;
}

.toggle-switch {
    position: relative;
    width: 60px;
    height: 28px;
    display: inline-block;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc; 
    border-radius: 28px;
    transition: background-color 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Smooth transition for background color */
}

.slider:before {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color 0.4s; 
}

input[type="checkbox"]:checked + .slider {
    background-color: #7852ff; 
}

input[type="checkbox"]:checked + .slider:before {
    transform: translateX(32px); 
}

input[type="checkbox"]:not(:checked) + .slider {
    background-color: #ff5252;
}

input[type="checkbox"]:not(:checked) + .slider:before {
    background-color: #fff; 
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.setting-description {
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    color: #ffffff; 
    background-color: #333333; 
    padding: 10px 20px; 
    border-left: 8px solid #E0C3FC; 
    border-radius: 5px; 
    transition: all 0.3s ease-in-out;
    display: block; 
    width: max-content; 
    margin: 20px auto;
}

.colorSwatch {
    display: inline-block;
    width: 24px;  
    height: 24px; 
    margin: 2px;  
    border: 2px solid transparent;  
    cursor: pointer;
    border-radius: 20%;  
    transition: border-color 0.3s, transform 0.3s;  
}

.colorSwatch:hover, .colorSwatch:focus, .colorSwatch.selected {
    border-color: #fff;  
    transform: scale(1.1);  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  
}

#colorPalette {
    padding: 5px;  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: flex-start;
    align-items: center; 
    background-color: #222222;  
    border-radius: 8px;  
    margin-top: 10px;  
    width: fit-content;  
    max-width: 400px;
    margin-left: 98px;
}
p {
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    color: #40407a; 
    background-color: #E0C3FC; 
    padding: 10px 20px; 
    border-radius: 5px; 
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out; 
    display: block; 
    width: max-content; 
    margin: 20px auto;
}

p:hover {
    box-shadow: 2px 4px 12px rgba(0,0,0,0.2); 
}


@media screen and (max-width: 768px) {
.settings-container {
    width: 80%;
    padding: 20px; 
    overflow-y: auto; 
}
.form-container {
    width: 100%; 
}
.form-item {
    flex-direction: column; 
    align-items: flex-start; 
}
.toggle-switch + .setting-description {
    margin-top: 10px; 
    margin-left: 0; 
}
h1, h2 {
    font-size: 1.2rem; 
}
.form-item label, .settings-container button {
    font-size: 0.9rem; 
}
}
@media screen and (max-width: 480px) {
.settings-container {
    width: 95%; 
}
}
.btn-primary {
    background-color: #355bcd;
    border: none;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    outline: none;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #44abed;
    color: #333;
}
.btn-primary:active {
    background-color: #44abed;
    color: #333;
    transform: translateY(1px);
    box-shadow: 0 2px 3px rgba(0, 140, 186, 0.2);
}
.d-flex.justify-content-center {
    display: flex;
    justify-content: center;
    width: 100%;  
}
h1.text-center {
    font-family: 'poppins';
    color: #FFFFFF; 
    transition: all 0.3s ease-in-out; 
    font-weight: normal; 
}

h1.text-center:hover {
    color: #E0C3FC;
}

@media screen and (max-width: 1024px) {
    .settings-container {
        width: 70%;
    }
}
@media screen and (max-width: 768px) {
    .settings-container {
        width: 80%;
        padding: 20px;
        overflow-y: auto;
    }
}
@media screen and (max-width: 480px) {
    .settings-container {
        width: 95%;
    }
}