@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #222;
    color: #fff;
    font-family: 'Roboto', Arial, sans-serif; 
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.custom-dropdown {
    margin-left: 20px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #757575;
    width: 15.5%; 
    background: rgba(255, 255, 255, 0.1);
    color: #f1f1f1;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background 0.3s, border 0.3s;
}

.custom-dropdown:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: #f1f1f1;
}

.custom-dropdown::-ms-expand {
    display: none;
}

.custom-dropdown option {
    background-color: #314558;
    color: #fff;
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #757575;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #f1f1f1;
    border-radius: 4px;
    transition: background 0.3s, border 0.3s;
}

.search-bar input[type="text"]:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: #f1f1f1;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-brand {
    color: #f1f1f1;
    font-size: 1.5rem;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-dark .navbar-brand:hover {
    color: #CD5C5C;
}

.ref-btn {
    margin-top: 5px;
    margin-right: 130px;
    padding: 0; 
    font-size: 17px;
    background-color: #89839C;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex; 
    align-items: center;
    justify-content: center; 
    width: 100px; 
    height: 40px; 
}


.ref-btn:hover {
    background-color: #B8B5C4;
}

#logoutContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#logoutBtn {
    position: absolute;
    right: -1px; 
    top: 0.1px;
    cursor: pointer;
}

#logoutBtn a {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 4px 12px;
    font-size: 1.4rem; 
    background-color: #CD5C5C;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100px; 
    height: 40px; 
}

#logoutBtn a:hover {
    background-color: #E68A89;
}

#logoutBtn a i.material-icons-outlined {
    font-size: 18px; 
    margin-left: 8px; 
}

.alert {
    background-color: #314558;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: none;
}

.otp-code {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.progress {
    margin-top: 2px; 
    margin-bottom: 0.5rem;  
}

.progress-bar {
    background-color: #6CB7E0;
    height: 20px;
}

.btn-primary {
    background-color: #6CB7E0;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #5A9CCD;
}

.btn-danger {
    background-color: #CD5C5C; 
    border: none; 
    transition: background-color 0.3s; 
}

.btn-danger:hover {
    background-color: #dc8d8d; 
}

.btn-light {
    background-color: #f8f9fa;
    color: #292b2c;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-light:hover {
    background-color: #e9ecef;
}

.btn-secondary {
    background-color: #555;
    color: #fff; 
    border: none; 
    transition: background-color 0.3s; 
}

.btn-secondary:hover {
    background-color: #777;
}

.icon-small {
    font-size: 15px;
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}

.modal-content {
    background-color: #333;
    border: none; 
    border-radius: 15px;
    color: #fff; 
    max-width: 300px; 
    margin: 0 auto; 
}

.modal-header, .modal-footer {
    border: none; 
    padding: 10px 20px; 
}

.modal-header .close {
    color: #fff; 
    font-size: 1.5em; 
}

.modal-header {
    border-bottom: 1px solid #444; 
    border-radius: 15px 15px 0 0; 
}

.modal-title {
    font-size: 1.2em; 
}

.modal-footer {
    border-top: 1px solid #444; 
    border-radius: 0 0 15px 15px; 
}

.modal-body {
    padding: 10px 20px; 
    text-align: center; 
}

.modal-body img {
    width: 60px; 
    height: 60px; 
    margin-bottom: 20px; 
    filter: grayscale(100%) brightness(70%); 
}

.modal-header, .modal-body, .modal-footer {
    text-align: center;
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

.flash {
    animation: flash 1.5s 2;
}

.copyright {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white; 
    padding: 10px;
    font-size: 12px;
    opacity: 0.5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s forwards;
}

.custom-active {
    background-color: #007bff !important;
    color: white !important;
}

.icon-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
  transition: border 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.75);
}
