@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #222;
    color: #fff;
    font-family: 'Roboto', Arial, sans-serif; 
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#clockDisplay {
    margin-left: auto; /* Pushes the clock to the far right */
    padding: 10px;
    color: #fff;
    font-size: 17px;
}

.custom-dropdown {
    margin-left: 20px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #757575;
    width: 15.5%; 
    background: rgba(255, 255, 255, 0.1);
    color: #f1f1f1;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; /
}

.custom-dropdown option {
    background-color: #313133; 
    border-radius: 12px;
    color: #fff;
}

.custom-dropdown {
    background-image: url('down-arrow-icon.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

.custom-dropdown::-ms-expand {
    display: none;
}

.custom-dropdown:hover {
    background: rgba(50, 50, 50, 0.8);
}

.custom-dropdown:focus {
    outline: none; 
}

.search-bar input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #757575;
    border-radius: 12px;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #f1f1f1;
    transition: background 0.3s, border 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.search-bar input[type="text"]:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: #f1f1f1;
}

@keyframes smoothFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.95); 
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.alert {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: none;
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.2),
        inset 0 2px 4px rgba(100, 100, 100, 0.2);
    border-radius: 10px;
    animation: smoothFadeIn 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.otp-code {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.progress {
    margin-top: 2px; 
    margin-bottom: 0.5rem;  
}

.progress-bar {
    background-color: #275cd5;
    height: 20px;
}

.btn-primary {
    background-color: #275cd5;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #44ABED;
}

.btn-danger {
    background-color: #FF5252; 
    border: none; 
    transition: background-color 0.3s; 
}

.btn-danger:hover {
    background-color: #ff5d51; 
}

.btn-light {
    background-color: #B6B6B6;
    color: #292b2c;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-light:hover {
    background-color: #e9ecef;
}

.btn-secondary {
    background-color: #555;
    color: #fff; 
    border: none; 
    transition: background-color 0.3s; 
}

.btn-secondary:hover {
    background-color: #777;
}

.icon-small {
    font-size: 15px;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #a885d8;
    z-index: 1000;
    display: none; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.toast-show {
    display: block;
    opacity: 1; 
    animation: glowEffect 2s infinite;
}

@keyframes glowEffect {
    0% {
        box-shadow: 0 0 5px #a885d8, 0 0 10px #a885d8;
    }
    50% {
        box-shadow: 0 0 15px #dcb5ff, 0 0 20px #dcb5ff;
    }
    100% {
        box-shadow: 0 0 5px #a885d8, 0 0 10px #a885d8;
    }
}

.modal-content {
    background-color: #333;
    border: none; 
    border-radius: 15px;
    color: #fff; 
    max-width: 300px; 
    margin: 0 auto; 
}

.modal-header, .modal-footer {
    border: none; 
    padding: 10px 20px; 
}

.modal-header .close {
    color: #fff; 
    font-size: 1.5em; 
}

.modal-header {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-bottom: 1px solid #444; 
    border-radius: 15px 15px 0 0; 
}

.modal-title {
    color: #ff5252;
    font-size: 1.2em; 
    margin-left: 10px;
}
.icon-report {
    color: #ff5252; 
    font-size: 24px; 
}

.modal-footer {
    border-top: 1px solid #444; 
    border-radius: 0 0 15px 15px; 
}

.modal-body {
    padding: 10px 20px; 
    text-align: center; 
}

.modal-body img {
    width: 60px; 
    height: 60px; 
    margin-bottom: 20px; 
    filter: grayscale(100%) brightness(70%); 
}

.modal-header, .modal-body, .modal-footer {
    text-align: center;
}

.flash-expiring {
    color: #ff5252;
    animation: flash 1s steps(1, end) infinite; 
}

.flash-expiring-faster {
    color: #ff5252;
    animation: flash 0.5s steps(1, end) infinite;
}

.flash-expiring-fastest {
    color: #ff5252;
    animation: flash 0.25s steps(1, end) infinite; 
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.2; } 
}

.flash {
    animation: flash 1.5s 2;
}

.copyright {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white; 
    padding: 10px;
    font-size: 12px;
    opacity: 0.5;
}

.custom-active {
    background-color: #007bff !important;
    color: white !important;
}

.icon-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
  transition: border 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.75);
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.underlined-name {
    text-decoration: underline;
}

.alert:hover {
    background-color: #2e2e2e;
    cursor: pointer;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;
}

.no-secrets {
    font-family: 'Noto Color Emoji', sans-serif;
    display: inline-block; 
    margin-top: 20px; 
    font-size: 2rem; 
    border: 1px solid #757575;
    padding: 10px 20px;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    position: absolute;
    top: 50%; 
    left: 43%;
    transform: translate(-50%, -50%); 
    background: #222; 
    animation: fadeInScale 1s ease-out forwards; 
}

.btn-group {
    margin-top: 5px; 
}

#editModal .modal-content {
    max-width: 300px; 
}

#editModal .form-group {
    margin-bottom: 15px;
    text-align: left;
}

#editModal .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ccc;
    font-size: 0.9em;
}

#editModal .modal-header .close {
    margin-left: auto; 
    color: #fff;
    font-size: 1.5em;
    border: none; 
    background: transparent; 
}

#editModal .modal-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 1px solid #444;
    border-radius: 15px 15px 0 0;
    padding: 10px 20px;
}

#editModal .form-control {
    background-color: #222;
    border: 1px solid #444;
    border-radius: 8px;
    color: #fff;
    padding: 8px 10px;
    width: 100%;
}

#editModal .modal-title {
    margin-bottom: 0; 
    flex-grow: 1;
    font-size: 1.2em;
    text-align: left; 
}

#editModal .form-control:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}

#editModal .modal-footer {
    display: flex;
    justify-content: center;
}

#editModal .btn {
    margin: 0 10px;
}

#editModal .btn-primary {
    background-color: #275cd5; 
    border-color: #275cd5;
}

#editModal .btn-primary:hover {
    background-color: #44abed; 
    border-color: #44abed;
    color: #222222;
}

#editModal .btn-secondary {
    background-color: #555555; 
    border-color: #555555;
    color: #ffffff;
}

#editModal .btn-secondary:hover {
    background-color: #777777; 
    border-color: #777777;
    color: #ffffff;
}

@media (max-width: 768px) {
    #editModal .modal-content {
        max-width: 90%; 
    }
}

.reminder-text {
    color: #ff5252;
    margin-top: 8px;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 5px; 
    border-radius: 5px;
    background: -webkit-linear-gradient(45deg, #EA8D8D, #A890FE); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative; 
}

.reminder-text::before {
    content: '';
    position: absolute;
    top: -1px; 
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    background: linear-gradient(45deg, #EA8D8D, #A890FE);
    border-radius: 5px; 
    pointer-events: none; 
}


.reminder-text .material-icons-outlined {
    vertical-align: middle;
    font-size: 18px;
    animation: blink 2s infinite; 
    margin-right: 5px;
    margin-left: 5px;
    background: -webkit-linear-gradient(45deg, #EA8D8D, #A890FE); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; 
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
}
.spoiler {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    margin-left: 4px;
}

.original-text, .masked-text {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.3s ease;
}

.masked-text {
    opacity: 1;
}

.original-text {
    opacity: 0;
    pointer-events: none; 
}
